<div class="col-12 mt-3">
  <button type="button" class="btn botonera activo" id="proyecto">
    <i class="bx bx-folder icon-white"></i> Proyectos
  </button>
  <button type="button" class="btn botonera" id="tarea">
    <i class="bx bx-calendar-check icon-white"></i> Tareas
  </button>
  <button type="button" class="btn botonera" id="calendario">
    <i class="bx bx-calendar icon-white"></i> Calendario
  </button>
  <button type="button" class="btn botonera" id="compras">
    <i class="bx bx-cart icon-white"></i> Compras
  </button>
  <button type="button" class="btn botonera" id="ppis">
    <i class="bx bx-coin-stack icon-white"></i> PPIs
  </button>
  <button type="button" class="btn botonera" id="costo">
    <i class="bx bx-coin icon-white"></i> Costos
  </button>
  <button type="button" class="btn botonera" id="documento">
    <i class="bx bx-file icon-white"></i> Documentos
  </button>
</div>
