<div class="col-12 mt-3">
  <a href="#proyectos#" class="btn botonera activo mt-2" id="proyecto">
    <i class="bx bx-folder icon-white"></i
    ><span class="text-botonera"> Proyectos</span></a
  >&nbsp;&nbsp;
  <a href="#tareas#" class="btn botonera mt-2" id="tarea">
    <i class="bx bx-calendar-check icon-white"></i
    ><span class="text-botonera"> Tareas </span></a
  >&nbsp;&nbsp;
  <a href="#calendario#" class="btn botonera mt-2" id="calendario">
    <i class="bx bx-calendar icon-white"></i
    ><span class="text-botonera"> Calendario </span></a
  >&nbsp;&nbsp;
  <a href="#partidas#" class="btn botonera mt-2" id="partida">
    <i class="bx bx-grid icon-white"></i
    ><span class="text-botonera"> Partidas </span></a
  >&nbsp;&nbsp;
  <a href="#rfq#" class="btn botonera mt-2" id="rfq">
    <i class="bx bx-receipt icon-white"></i
    ><span class="text-botonera"> RFQ </span></a
  >&nbsp;&nbsp;
  <a href="#compras#" class="btn botonera mt-2" id="compras">
    <i class="bx bx-cart icon-white"></i
    ><span class="text-botonera"> Compras </span></a
  >&nbsp;&nbsp;
  <a href="#control-calidad#" class="btn botonera mt-2" id="cdcs">
    <i class="bx bx-list-check icon-white"></i
    ><span class="text-botonera"> Control de calidad </span></a
  >&nbsp;&nbsp;
  <a href="#costos#" class="btn botonera mt-2" id="costo">
    <i class="bx bx-coin icon-white"></i
    ><span class="text-botonera"> Costos </span></a
  >&nbsp;&nbsp;
  <a href="#documentos#" class="btn botonera mt-2" id="documento">
    <i class="bx bx-file icon-white"></i
    ><span class="text-botonera"> Documentos </span></a
  >&nbsp;&nbsp;
</div>
<script>
  $("#proyecto").click(function () {
    $("#pro").prop("hidden", false);
    $("#proyecto").addClass("activo");
    $(
      "#tarea, #calendario, #compras, #cdcs, #costo, #documento, #partida, #rfq"
    ).removeClass("activo");
    $("#tar, #cal, #com, #cdc, #cos, #doc, #par, #rf").prop("hidden", true);
  });
  $("#tarea").click(function () {
    $("#tar").prop("hidden", false);
    $("#tarea").addClass("activo");
    $(
      "#proyecto, #calendario, #compras, #cdcs, #costo, #documento, #partida, #rfq"
    ).removeClass("activo");
    $("#pro, #cal, #com, #cdc, #cos, #doc, #par, #rf").prop("hidden", true);
  });
  $("#calendario").click(function () {
    $("#cal").prop("hidden", false);
    $("#calendario").addClass("activo");
    $(
      "#tarea, #proyecto, #compras, #cdcs, #costo, #documento, #partida, #rfq"
    ).removeClass("activo");
    $("#tar, #pro, #com, #cdc, #cos, #doc, #par, #rf").prop("hidden", true);
  });
  $("#partida").click(function () {
    $("#par").prop("hidden", false);
    $("#partida").addClass("activo");
    $(
      "#tarea, #calendario, #proyecto, #compras, #cdcs, #costo, #documento, #rfq"
    ).removeClass("activo");
    $("#tar, #pro, #com, #cdc, #cos, #doc, #cal, #rf").prop("hidden", true);
  });
  $("#rfq").click(function () {
    $("#rf").prop("hidden", false);
    $("#rfq").addClass("activo");
    $(
      "#tarea, #calendario, #proyecto, #compras, #cdcs, #costo, #documento, #partida"
    ).removeClass("activo");
    $("#tar, #pro, #com, #cdc, #cos, #doc, #cal, #par").prop("hidden", true);
  });
  $("#compras").click(function () {
    $("#com").prop("hidden", false);
    $("#compras").addClass("activo");
    $(
      "#tarea, #proyecto, #calendario, #cdcs, #costo, #documento, #partida, #rfq"
    ).removeClass("activo");
    $("#tar, #pro, #cal, #cdc, #cos, #doc, #par, #rf").prop("hidden", true);
  });
  $("#cdcs").click(function () {
    $("#cdc").prop("hidden", false);
    $("#cdcs").addClass("activo");
    $(
      "#tarea, #proyecto, #calendario, #compras, #costo, #documento, #partida, #rfq"
    ).removeClass("activo");
    $("#tar, #pro, #cal, #com, #cos, #doc, #par, #rf").prop("hidden", true);
  });
  $("#costo").click(function () {
    $("#cos").prop("hidden", false);
    $("#costo").addClass("activo");
    $(
      "#tarea, #proyecto, #calendario, #compras, #cdcs, #documento, #partida, #rfq"
    ).removeClass("activo");
    $("#tar, #pro, #cal, #com, #cdc, #doc, #par, #rf").prop("hidden", true);
  });
  $("#documento").click(function () {
    $("#doc").prop("hidden", false);
    $("#documento").addClass("activo");
    $(
      "#tarea, #proyecto, #calendario, #compras, #cdcs, #costo, #partida, #rfq"
    ).removeClass("activo");
    $("#tar, #pro, #cal, #com, #cdc, #cos, #par, #rf").prop("hidden", true);
  });
</script>
