<div class="col-12 mt-3">
  <strong>Listado de documentos</strong>
  <div class="card mt-3 p-2">
    <div class="row">
      <div class="col-md-4 col-lg-1 mt-1">
        <img src="public/image/user.png" class="rounded-circle" width="40%" />
      </div>
      <div class="col-md-6 col-lg-10">
        <div class="col-12">
          <strong>Acta De Entrega.Pdf</strong>
        </div>
        <div class="col-12">
          <i class="fa fa-calendar"></i>&nbsp;July 14, 2015 &nbsp;<i
            class="fa fa-file-text-o"
          ></i
          >&nbsp;Manual
        </div>
      </div>
      <div class="col-md-2 col-lg-1 mt-2">
        <a href="#"
          ><i class="fa fa-file-pdf-o icon-red" style="font-size: 20px"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card mt-3 p-2">
    <div class="row">
      <div class="col-md-4 col-lg-1 mt-1">
        <img src="public/image/user.png" class="rounded-circle" width="40%" />
      </div>
      <div class="col-md-6 col-lg-10">
        <div class="col-12">
          <strong>Acta De Entrega.Pdf</strong>
        </div>
        <div class="col-12">
          <i class="fa fa-calendar"></i>&nbsp;July 14, 2015 &nbsp;<i
            class="fa fa-file-text-o"
          ></i
          >&nbsp;Manual
        </div>
      </div>
      <div class="col-md-2 col-lg-1 mt-2">
        <a href="#"
          ><i class="fa fa-file-pdf-o icon-red" style="font-size: 20px"></i
        ></a>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card mt-3 p-2">
    <div class="row">
      <div class="col-md-4 col-lg-1 mt-1">
        <img src="public/image/user.png" class="rounded-circle" width="40%" />
      </div>
      <div class="col-md-6 col-lg-10">
        <div class="col-12">
          <strong>Acta De Entrega.Pdf</strong>
        </div>
        <div class="col-12">
          <i class="fa fa-calendar"></i>&nbsp;July 14, 2015 &nbsp;<i
            class="fa fa-file-text-o"
          ></i
          >&nbsp;Manual
        </div>
      </div>
      <div class="col-md-2 col-lg-1 mt-2">
        <a href="#"
          ><i class="fa fa-file-pdf-o icon-red" style="font-size: 20px"></i
        ></a>
      </div>
    </div>
  </div>
</div>
