<!-- Encabezado -->
<div class="col-12 mt-3">
  <div class="row">
    <div class="col-md-6 col-lg-5">
      <strong class="title-ppi">Avance global del PPI</strong><br />
      <div
        class="progress"
        role="progressbar"
        aria-valuenow="85"
        aria-valuemin="0"
        aria-valuemax="100"
      >
        <div class="progress-bar bg-success" style="width: 85%"></div>
      </div>
    </div>
    <div class="col-md-6 col-lg-7">
      <span class="button-ppi mt-1">
        <div class="row">
          <strong><i class="bx bx-user-check icon-white"></i></strong
          >&nbsp;<span class="title-button-ppi mt-1"> NC Totales:</span>&nbsp;
          <span class="sub-title-button-ppi">2500</span>
        </div>
      </span>
    </div>
  </div>
</div>

<div class="col-12 mt-3">
  <div class="row">
    <div class="col-md-6 col-lg-3">
      <select
        class="selectpicker form-control"
        data-live-search="true"
        title="Filtrar por estatus de PPI"
      >
        <option value="1">Conforme</option>
        <option value="2">No Conforme</option>
        <option value="3">En Hold</option>
      </select>
    </div>
    <div class="col-md-1 col-lg-4"></div>
    <div class="col-md-5 col-lg-5">
      <div class="row">
        <div class="col-9 mt-1" align="right">
          <form>
            <div class="input-wrapper">
              <input
                type="search"
                class="input form-control search"
                placeholder="Buscar"
              />
              <i class="bx bx-search input-icon"></i>
            </div>
          </form>
        </div>
        <div class="col-3" align="right">
          <a class="btn-agregar mt-1" href="view/cdc/add.html"> Agregar PPI </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Fin de Encabezado -->
<!-- lista -->
<div class="col-12 mt-3">
  <a href="view/cdc/add.html">
    <div class="card div-success mt-3 p-2">
      <div class="col-12">
        <div class="row">
          <div class="col-md-1 col-lg-1">
            <img
              src="public/image/user.png"
              class="rounded-circle imagen-ppi"
            />
          </div>
          <div class="col-md-9 col-lg-10 pl-0">
            <div class="col-12">
              <span class="title-card-ppi">PPI Gabinete 1 .</span
              >&nbsp;Resultado
              <span class="badge bg-success chip">Conforme</span>
            </div>
            <div class="col-12 mt-1">
              <i class="bx bx-calendar" style="font-size: 12px"></i>&nbsp;July
              14, 2015 &nbsp;<i class="bx bx-file" style="font-size: 12px"></i
              >&nbsp;3
              <i class="bx bx-camera" style="font-size: 12px"></i>&nbsp;2
            </div>
          </div>
          <div class="col-md-2 col-lg-1 mt-2"></div>
        </div>
      </div>
    </div>
  </a>
  <a href="view/cdc/add.html">
    <div class="card div-danger mt-3 p-2">
      <div class="col-12">
        <div class="row">
          <div class="col-md-1 col-lg-1">
            <img
              src="public/image/user.png"
              class="rounded-circle imagen-ppi"
            />
          </div>
          <div class="col-md-9 col-lg-10 pl-0">
            <div class="col-12">
              <span class="title-card-ppi">PPI Gabinete 1 .</span
              >&nbsp;Resultado
              <span class="badge bg-danger chip">No conforme</span>
            </div>
            <div class="col-12 mt-1">
              <i class="bx bx-calendar" style="font-size: 12px"></i>&nbsp;July
              14, 2015 &nbsp;<i class="bx bx-file" style="font-size: 12px"></i
              >&nbsp;3
              <i class="bx bx-camera" style="font-size: 12px"></i>&nbsp;2
            </div>
          </div>
          <div class="col-md-2 col-lg-1 mt-2">
            <span class="badge bg-danger chip">NC: 10</span>
          </div>
        </div>
      </div>
    </div></a
  >
  <a href="view/cdc/add.html">
    <div class="card div-warning mt-3 p-2">
      <div class="col-12">
        <div class="row">
          <div class="col-md-1 col-lg-1">
            <img
              src="public/image/user.png"
              class="rounded-circle imagen-ppi"
            />
          </div>
          <div class="col-md-9 col-lg-10 pl-0">
            <div class="col-12">
              <span class="title-card-ppi">PPI Gabinete 1 .</span
              >&nbsp;Resultado
              <span class="badge bg-warning chip">En Hold</span>
            </div>
            <div class="col-12 mt-1">
              <i class="bx bx-calendar" style="font-size: 12px"></i>&nbsp;July
              14, 2015 &nbsp;<i class="bx bx-file" style="font-size: 12px"></i
              >&nbsp;3
              <i class="bx bx-camera" style="font-size: 12px"></i>&nbsp;2
            </div>
          </div>
          <div class="col-md-2 col-lg-1 mt-2">
            <span class="badge bg-danger chip">NC: 4</span>
          </div>
        </div>
      </div>
    </div></a
  >
</div>
<!-- no conformidad -->
<div class="col-12 mt-4 p-4">
  <div class="card p-3">
    <!-- Encabezado 2 -->
    <div class="justify-content-between">
      <div class="col-12">
        <div class="row">
          <div class="col-md-12 col-lg-9">
            <span class="title-nc"> No conformidades del proyecto </span>
          </div>
          <div class="col-md-6 col-lg-3 mt-1" align="right">
            <form>
              <div class="input-wrapper">
                <input
                  type="search"
                  class="input form-control search"
                  placeholder="Buscar"
                />
                <i class="bx bx-search input-icon"></i>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- fin de encabezado 2 -->
    <!-- lista 2 -->
    <div class="col-12 mt-3">
      <div class="card div-success">
        <div class="col-12">
          <div class="row">
            <div class="col-md-2 col-lg-1">
              <img
                src="public/image/user.png"
                class="rounded-circle imagen-ppi"
              />
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="col-12">
                <span class="title-card-ppi">PPI 1: Trámites sin estaño.</span
                >&nbsp;<small>Resolvió Uzziel Garcia</small>
              </div>
              <div class="col-12 mt-1">
                <span style="color: green">Solventado</span
                >&nbsp;&nbsp;<span>Estado</span>&nbsp;&nbsp;<span
                  class="badge bg-success chip"
                  >Concluido</span
                >&nbsp;<span
                  ><i class="bx bx-search" style="font-size: 12px"></i
                  >&nbsp;Identificación: July 14, 2015 &nbsp;<i
                    class="bx bx-check-circle"
                    style="font-size: 12px"
                  ></i
                  >&nbsp;Resolución: July 14, 2015</span
                >
              </div>
            </div>
            <div class="col-md-2 col-lg-2 mt-2" align="right">
              <div class="row">
                <div class="col-6">
                  <a
                    type="button"
                    id="btn-modal"
                    data-toggle="modal"
                    data-target="#noConformidadModal"
                    ><small>Origen</small><br /><i class="bx bx-file"></i
                  ></a>
                </div>
                <div class="col-6">
                  <a
                    type="button"
                    id="btn-modal"
                    data-toggle="modal"
                    data-target="#noConformidadModal"
                    ><small>Evidencia</small><br /><i class="bx bx-file"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="card div-warning mt-3">
        <div class="col-12">
          <div class="row">
            <div class="col-md-2 col-lg-1">
              <img
                src="public/image/user.png"
                class="rounded-circle imagen-ppi"
              />
            </div>
            <div class="col-md-8 col-lg-9">
              <div class="col-12">
                <span class="title-card-ppi">PPI 1: Trámites sin estaño.</span
                >&nbsp;<small>Resolvió Uzziel Garcia</small>
              </div>
              <div class="col-12 mt-1">
                <span style="color: #fc9432">No Solventado</span
                >&nbsp;&nbsp;<span>Estado</span>&nbsp;&nbsp;<span
                  class="badge bg-warning chip"
                  >Pendiente</span
                >&nbsp;<span
                  ><i class="bx bx-search" style="font-size: 12px"></i
                  >&nbsp;Identificación: July 14, 2015</span
                >
              </div>
            </div>
            <div class="col-md-2 col-lg-2 mt-2" align="right">
              <a
                type="button"
                id="btn-modal"
                data-toggle="modal"
                data-target="#noConformidadModal"
                ><small>Origen</small><br /><i class="bx bx-file"></i
              ></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
</script>
