body,
.contenido {
  width: 100%;
  padding: auto;
  font-family: "Montserrat", sans-serif !important;
  color: #343633 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  font-style: normal !important;
  line-height: 16px !important;
}
html {
  box-sizing: border-box;
}
/* Tamaño del scroll */
.contenido::-webkit-scrollbar {
  width: 8px !important;
}

/* Estilos barra (thumb) de scroll */
.contenido::-webkit-scrollbar-thumb {
  background: #abcce7 !important;
  border-radius: 4px !important;
}

.contenido::-webkit-scrollbar-thumb:active {
  background-color: #abcce7 !important;
}

.contenido::-webkit-scrollbar-thumb:hover {
  background: #7494fc !important;
  box-shadow: 0 0 2px 1px rgba(0, 0, 0, 0.2) !important;
}

/* Estilos track de scroll */
.contenido::-webkit-scrollbar-track {
  background: #e1e1e1 !important;
  border-radius: 4px !important;
}

.contenido::-webkit-scrollbar-track:hover,
.contenido::-webkit-scrollbar-track:active {
  background: #d4d4d4 !important;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
a,
a:hover {
  text-decoration: none !important;
  color: #343633;
}
.span-costo {
  font-family: "Montserrat", sans-serif !important;
}
.navbar {
  width: 100%;
  height: 60px !important;
  position: absolute !important;
  background: #fff !important;
}
.navbar-toggler {
  display: block !important;
  margin-right: 30px;
}
.nav-link {
  text-align: right;
}
.migas {
  margin-top: 40px;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #423f3f !important;
  background: #f7f7fe !important;
}
.breadcrumb {
  text-align: right !important;
  justify-content: right !important;

  height: 12px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  /* identical to box height, or 100% */

  /* project/primary */

  color: #516184 !important;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.migas a {
  text-decoration: none;
  color: #423f3f !important;
}
.regresar {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #423f3f;
}

.iconos {
  color: #000000 !important;
  font-size: 25px !important;
}
.icon-white {
  color: white !important;
}
.icon-green {
  color: #28a745 !important;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
}
.icon-blue {
  color: blue !important;
}
.icon-warning {
  color: #fc9432 !important;
}
.ico-add {
  /* add */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 60px;
  height: 60px;
  background: #f7f7fe;
  /* stroke */
  border: 0.5px solid #7c859b;
  border-radius: 50px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.set {
  /* SET 01 */
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #343633;
}

.bg-success {
  /* Auto layout */
  color: #fff;
  flex-direction: row;
  align-items: center;
  padding: 1px 10px;
  gap: 10px;
  font-size: 9px;
  height: 16px;
  /* project/spring */

  background: #28a745 !important;
  border-radius: 20px;
}

.bg-info {
  color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 10px;
  gap: 10px;
  font-size: 9px;
  height: 16px;
  /* Highlight/blue */

  background: #66a9f8;
  border-radius: 20px;
}

.bg-warning {
  /* Auto layout */
  color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 10px;
  gap: 10px;
  font-size: 9px;
  height: 16px;

  /* project/warning */

  background: #fc9432 !important;
  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-danger {
  color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 10px;
  gap: 10px;
  font-size: 9px;
  height: 16px;
  /* Highlight/blue */

  background: #dc3545 !important;
  border-radius: 20px;
}
.bg-danger-compra {
  /* Tag */
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 25px;
  height: 24px;

  /* project/danger */

  background: #dc3545;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bg-success-compra {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 21px;
  height: 24px;

  /* project/success */

  background: #28a745;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bg-secondary {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 23px;
  height: 24px;

  /* project/blue */

  background: #d0d5dd !important;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-secondary {
  /* Tag */
  color: #fff;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 104px;
  height: 24px;

  /* project/light-gray */

  background: #d0d5dd;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-evento {
  /* Data-item */
  align-items: center;
  padding: 12px 15px 12px 10px;
  color: #fff;
  width: 149px;
  height: 55px;
  /* project/success */

  background: #28a745;
  border-radius: 10px;
}

.user-info {
  margin-right: -15px;
  width: 30px;
  height: 30px;

  border-radius: 20px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.align {
  text-align: right;
}
.activo {
  /* Button */

  box-sizing: border-box;
  color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  /* project/blue */

  background: #1071e5 !important;
  /* project/blue */

  border: 1px solid #1071e5;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.botonera {
  color: #fff;
  background: #d0d5dd;
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  box-sizing: border-box;

  /* Auto layout */
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  height: 34px;

  /* project/light-gray */

  background: #d0d5dd;
  /* project/light-gray */

  border: 1px solid #d0d5dd;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.text-botonera {
  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  vertical-align: top;
  /* project/white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.tabla {
  /* Auto layout */

  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  border-collapse: collapse;
  width: 100%;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
th {
  /* TH */

  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  /* Auto layout */
  flex-direction: row;
  align-items: center !important;
  padding: 5px 15px;
  gap: 16px;

  height: 34px;

  /* Light / Surfaces / Light-50 */

  background: #f8fafc;
  /* Light / Surfaces / Border */

  border-width: 1px 0px;
  border-style: solid;
  border-color: #e2e8f0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
td {
  /* TD */

  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  /* Auto layout */
  flex-direction: row;
  align-items: center !important;
  padding: 0px 15px;
  gap: 16px;

  height: 45px;

  /* Light / Surfaces / Content */

  background: #ffffff;
  /* Light / Surfaces / Border */

  border-bottom: 1px solid #e2e8f0;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.img-circle {
  width: 30px;
  height: 30px;

  border-radius: 20px;
}
.img-circle i {
  font-size: 15px;
  vertical-align: top;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.tag-success {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 104px;
  height: 24px;

  /* project/success */

  background: #28a745;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-warning {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 104px;
  height: 24px;

  /* project/warning */

  background: #fc9432;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-danger {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 104px;
  height: 24px;

  /* project/danger */

  background: #dc3545;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-tarea-completada {
  box-sizing: border-box;
  color: #fff;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 217px;
  height: 34px;

  /* project/success */

  background: #28a745;
  /* project/success */

  border: 1px solid #28a745;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-agregar {
  /* Button */

  box-sizing: border-box;

  /* Auto layout */
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  height: 34px;

  /* project/primary */

  background: #516184;
  /* project/primary */

  border: 1px solid #516184;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.input-wrapper {
  position: relative;
}

.input {
  box-sizing: border-box;
  color: #191919;
  padding: 10px 10px 10px 35px;
  width: 100%;
}

.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-red {
  color: #dc3545 !important;
}
.icon-modal {
  font-size: 30px !important;
}
.calendario {
  background-color: #516184 !important;
  color: #fff;
  /* Caption */

  width: 67px;
  height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.12px;

  /* project/white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.datepicker-days {
  border-radius: 30px;
}
tr .prev {
  border-radius: 30px 0 0 0 !important;
}

tr .next {
  border-radius: 0 30px 0 0 !important;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 45px;
  gap: 10px;
  width: 100%;
  height: 34px;

  background: #ffffff;
  /* project/light-gray */

  border: 1px solid #d0d5dd;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.task-header {
  /* Auto layout */
  border: 0;
  background: #fff !important;
  border: none !important;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  border: none !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.task-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.table-task {
  padding: 0px !important;
}
.task-card {
  background: #fff !important;
}
.child {
  text-decoration: none !important;
  /* Auto layout */
  color: #1e293b !important;
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  gap: 16px;

  /* Light / Surfaces / Light-50 */

  background: #f8fafc;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.form-check-input {
  /* Checkbox */
  box-sizing: border-box;

  width: 16px;
  height: 16px;

  /* project/success */

  color: #28a745 !important;
  /* project/success */

  border: 2px solid #28a745 !important;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.custom-blue {
  accent-color: #3b82f6;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28a745 !important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #c8ffc8;
}

.tarea-1 {
  border-left: 3px solid #516184;
}
.tarea-2 {
  border-left: 3px solid #1071e5;
}
.fc-today-button {
  /* Button */

  box-sizing: border-box !important;

  /* Auto layout */
  margin-top: 8px !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 5px 15px !important;
  gap: 8px !important;

  width: 55px !important;
  height: 25px !important;

  background: #ffffff !important;
  /* project/dark */

  border: 1px solid #343633 !important;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
  border-radius: 8px !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.fc-prev-button {
  border: none !important;
  background: local !important;
  font-size: 20px !important;
}
.fc-next-button {
  border: none !important;
  background: local !important;
  font-size: 20px !important;
}
.fecha-actual {
  background: local !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  margin-top: 8px !important;
  /* identical to box height, or 200% */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.fecha-actual:first-letter {
  text-transform: uppercase;
}

.fc-widget-header {
  /* TH */
  box-sizing: border-box;

  /* Auto layout */

  align-items: center;
  padding-top: 7px;
  gap: 16px;

  /* Light / Surfaces / Light-50 */

  background: #f8fafc;
  /* Light / Surfaces / Border */

  border-width: 1px 0px;
  border-style: solid;
  border-color: #e2e8f0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.fc-widget-header th:first-letter {
  text-transform: uppercase;
}
.fc-today .fc-day-number {
  /* Frame 269 */

  /* Auto layout */
  color: #fff !important;
  display: flex;
  align-items: flex-start;
  font-weight: 500;
  font-size: 14px;
  padding: 5px;
  gap: 10px;
  justify-content: center;

  width: 20px;
  height: 20px;

  /* project/blue */

  background: #1071e5 !important;
  border-radius: 4px !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.fc-event-container {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.fc-content {
  /* Task item */
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;

  height: 40px;

  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.fc-title {
  width: 50px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;

  height: 14px;

  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  /* identical to box height, or 100% */

  text-transform: capitalize;

  /* Pallate/gray/800 */

  color: #1f2937;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.bg-primary {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 23px;
  height: 24px;

  /* project/blue */

  background: #1071e5;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bg-compras-primary {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 125px;
  height: 24px;

  /* Highlight/blue */

  background: #66a9f8;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-compras-warning {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 125px;
  height: 24px;

  /* Highlight/orange */

  background: #f1bd6c;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-compras-danger {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 125px;
  height: 24px;

  /* Highlight/red */

  background: #f06a6a;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-exportar {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 84px;
  height: 34px;

  background: #ffffff;
  /* project/dark */

  border: 1px solid #343633;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-registro {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 35px;
  height: 24px;

  /* Highlight/purple */

  background: #8d84e8;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-generar {
  /* Button */

  box-sizing: border-box;
  text-decoration: none !important;
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 110px;
  height: 34px;

  /* project/primary */

  background: #516184;
  /* project/primary */

  border: 1px solid #516184;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.tag-primary {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 104px;
  height: 24px;

  /* project/blue */

  background: #1071e5;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.title-rfq {
  /* RFQ No. 845 */

  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center !important;

  /* project/dark-gray */

  color: #707070 !important;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-cancelar {
  /* Button */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 85px;
  height: 34px;

  background: #ffffff;
  /* project/dark */

  border: 1px solid #343633;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.text-title-rfq {
  /* Generar RFQ */
  width: 107px;
  height: 16px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title-rfq {
  /* Revisa y modifica la información del RFQ a generar */
  width: 382px;
  height: 17px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height, or 113% */

  /* gray */

  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.añadir {
  /* Añadir */
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height, or 115% */

  /* primary-color */

  color: #526183 !important;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.detalle-rfq {
  /* Detalles del RFQ */

  width: 139px;
  height: 16px;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* black-text */

  color: #373936 !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title-detalle {
  width: 36px;
  height: 17px;

  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 17px !important;
  /* identical to box height, or 113% */

  /* gray */

  color: #707070 !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-detalle {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 55px;
  height: 24px;

  /* Highlight/purple */

  background: #8d84e8;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-descarga {
  /* Button */

  color: #fff !important;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 50px;
  height: 34px;

  /* project/primary */

  background: #516184;
  /* project/primary */

  border: 1px solid #516184;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-orden {
  /* Auto layout */
  color: #fff;
  flex-direction: row !important;
  align-items: center !important;
  padding: 12px 20px 12px 15px !important;
  gap: 5px !important;

  height: 60px !important;

  /* Highlight/blue */

  background: #66a9f8 !important;
  border-radius: 10px !important;
  border: #66a9f8;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.icon-button {
  width: 20px !important;
  height: 16px !important;
}
.border-card {
  /* Container */

  box-sizing: border-box !important;

  /* Auto layout */
  color: #707070 !important;
  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 7px 10px !important;
  gap: 10px !important;

  background: #ffffff !important;
  /* project/primary */

  border-left: 10px solid #516184 !important;
  border-radius: 4px !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.border-card-sm {
  /* servicio */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 16px;
  gap: 10px;

  height: 42px;

  /* white */

  background: #ffffff;
  /* project/primary */

  border-left: 3px solid #516184;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  align-self: stretch;
  flex-grow: 0;
}
.entrega-porcentaje {
  font-weight: 400;
  font-size: 13px !important;
  line-height: 14px !important;
  /* identical to box height, or 108% */

  text-transform: capitalize !important;

  /* project/primary */

  color: #516184 !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.entrega {
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 24px !important;
  /* identical to box height, or 160% */

  color: #000000 !important;
}
.entrega-title {
  font-weight: 500 !important;
  font-size: 14px !important;
  line-height: 18px !important;
  /* identical to box height, or 129% */

  color: #373936 !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-entrega {
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 14px !important;
  /* identical to box height, or 140% */

  text-transform: capitalize !important;

  color: #373936 !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.titulo-dr {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 18px !important;
  /* or 112% */

  color: #423f3f !important;
}
.checkbox-class {
  width: 18px;
  height: 18px;
  /* primary-color */

  border: 1px solid #526183;
}
.proveedor {
  /* Mensajería */

  font-weight: 500;
  font-size: 14px;
  /* identical to box height, or 129% */

  color: #373936;
}
.sub-proveedor {
  /* Habilitado */

  font-weight: 400;
  font-size: 10px;
  /* identical to box height, or 140% */

  text-transform: capitalize;

  color: #373936;
}
.borde-green {
  box-sizing: border-box;

  /* Auto layout */

  flex-direction: row;
  align-items: center;
  padding: 5px 16px;
  gap: 10px;
  height: 42px;

  /* white */

  background: #ffffff;
  border-left: 3px solid #06d6a0;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}
.borde-red {
  /* servicio */

  box-sizing: border-box;

  /* Auto layout */

  flex-direction: row;
  align-items: center;
  padding: 5px 16px;
  gap: 10px;

  height: 42px;

  /* white */

  background: #ffffff;
  /* project/danger */

  border-left: 3px solid #dc3545;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  align-self: stretch;
  flex-grow: 0;
}

/* toogle switch */

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
}

/* Hide default HTML checkbox */
.switch input {
  display: none;
  width: 45px !important;
  height: 20px !important;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  width: 45px !important;
  height: 20px !important;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 1px;
  bottom: 2px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input.default:checked + .slider {
  background-color: #444;
}
input.primary:checked + .slider {
  background-color: #2196f3;
}
input.success:checked + .slider {
  background-color: #00e676;
  border: 1px solid #00e676 !important;
  border-radius: 13px !important;
}
input.info:checked + .slider {
  background-color: #3de0f5;
}
input.warning:checked + .slider {
  background-color: #ffc107;
}
input.danger:checked + .slider {
  background-color: #f44336;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.content-proveedores {
  /* sidelist */
  box-sizing: border-box;

  /* Auto layout */
  height: fit-content;
  flex-direction: column;
  align-items: center;
  gap: 10px;

  background: #ffffff;
  /* project/stroke-blue */

  border: 0.5px solid #7c859b;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.content-bancoI {
  /* Frame 172 */
  box-sizing: border-box;

  /* Auto layout */

  flex-direction: row;
  padding: 5px 5px;
  gap: 12px;

  /* project/dark-gray */

  border: 0.5px solid #707070;
  border-radius: 4px;
}
.back-1 {
  /* project/blue */
  width: 127px;
  height: 52px;
  background: rgb(16, 113, 229, 0.1);
  border-radius: 8px;
  padding: 5px;
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.info-hijo {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px;
  justify-content: center;
  /* project/blue */
  width: 42px;
  height: 42px;
  background: #1071e5;
  border-radius: 8px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.title-back {
  font-weight: 400 !important;
  font-size: 10px !important;
  line-height: 16px !important;

  align-items: center !important;
}
.sub-title-back {
  font-weight: 700 !important;
  font-size: 14px !important;
  line-height: 16px !important;

  align-items: center !important;
}
.orange {
  /* Back */
  width: 161px;
  height: 52px;
  padding: 5px;
  /* project/warning */

  background: rgb(252, 148, 50, 0.1);
  border-radius: 8px;
  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
.orange-hijo {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 9px;
  gap: 10px;

  width: 42px;
  height: 42px;

  /* project/warning */

  background: #fc9432;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.card-title {
  text-decoration: none !important;
  color: #707070 !important;
  font-weight: 500 !important;
  font-size: 12px !important;
  line-height: 16px !important;
}
.card-title:focus {
  color: #1071e5 !important;
}

.card-title .bx {
  font-size: 16px !important;
}
.object-card {
  height: 443px;
}
object {
  height: 390px;
}
.title-ppi {
  font-weight: 700;
  font-size: 15px;
  line-height: 16px;
}
.progress {
  border-radius: 8px !important;
}
.button-ppi {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 2px 10px;
  gap: 10px;

  width: 159px;
  height: 34px;

  background: #2076bd;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.title-button-ppi {
  width: 61px;
  height: 16px;

  font-weight: 400;
  font-size: 11px;
  line-height: 16px;
  /* identical to box height, or 145% */

  display: flex;
  align-items: center;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title-button-ppi {
  font-weight: 700;
  font-size: 16px;
  flex: none;
  order: 1;
  flex-grow: 0;
}
.div-success {
  box-sizing: border-box;

  /* Auto layout */

  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 7px 10px !important;
  gap: 10px !important;

  background: #ffffff !important;
  /* project/spring */

  border-left: 10px solid #28a745 !important;
  border-radius: 4px !important;

  /* Inside auto layout */

  flex: none !important;
  order: 0 !important;
  align-self: stretch !important;
  flex-grow: 0 !important;
}
.div-danger {
  box-sizing: border-box;

  /* Auto layout */

  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 7px 10px !important;
  gap: 10px !important;

  background: #ffffff !important;
  /* project/danger */

  border-left: 10px solid #dc3545 !important;
  border-radius: 4px !important;

  /* Inside auto layout */

  flex: none !important;
  order: 0 !important;
  align-self: stretch !important;
  flex-grow: 0 !important;
}
.div-warning {
  box-sizing: border-box;

  /* Auto layout */

  display: flex !important;
  flex-direction: column !important;
  align-items: flex-start !important;
  padding: 7px 10px !important;
  gap: 10px !important;

  background: #ffffff !important;
  /* project/warning */

  border-left: 10px solid #fc9432 !important;
  border-radius: 4px !important;

  /* Inside auto layout */

  flex: none !important;
  order: 0 !important;
  align-self: stretch !important;
  flex-grow: 0 !important;
}
.imagen-ppi {
  width: 54px;
  height: 54px;
}
.title-card-ppi {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-transform: capitalize;
}
.chip {
  font-weight: 400;
  font-size: 9px;
  line-height: 14px;
  /* identical to box height, or 156% */

  align-items: center;
  text-align: center;
  text-transform: capitalize;

  /* project/white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.title-nc {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.title-add-ppi {
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title-add-ppi {
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height, or 113% */

  /* gray */

  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-eliminar {
  /* Button */
  color: #fff;
  box-sizing: border-box;

  /* Auto layout */

  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  height: 34px;

  /* project/tomato */

  background: #ff1744;
  /* project/tomato */

  border: 1px solid #ff1744;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.definition {
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.card {
  border: 0.5px solid #7c859b;
  border-radius: 8px;
}
.sub {
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  /* identical to box height, or 112% */

  /* gray */

  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-agregar-ppi {
  /* Button */

  box-sizing: border-box;

  /* Auto layout */
  color: #516184;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  height: 34px;

  background: #ffffff;
  /* project/dark */

  border: 1px solid #343633;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.div-fotografia {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.1);
  border-radius: 4px;
}
.icono-eliminar {
  /* Ellipse 1 */

  box-sizing: border-box;

  width: 60px;
  height: 60px;
  left: 224px;
  top: 0px;

  background: rgba(255, 23, 68, 0.2);
  border: 0.5px solid #ff1744;
}
.title-eliminar {
  /* Eliminar */

  width: 103px;
  height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 24px;
  /* identical to box height, or 100% */

  display: flex;
  align-items: center;
  text-align: center;

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.texto-eliminar {
  width: 304px;
  height: 24px;

  /* Text/base/medium-500 */

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 30px;
  /* identical to box height, or 150% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.centrar {
  justify-content: center;
  align-items: center;
  align-content: center;
}
.icono-error {
  left: 13.81%;
  right: 13.82%;
  top: 20%;
  bottom: 16.67%;
  font-size: 26px;

  color: #ff1744 !important;
}
.expandir {
  /* Expandir todo */

  font-weight: 600;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */

  /* project/primary */

  color: #516184;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.title-costo {
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn {
  font-family: "Montserrat", sans-serif !important;
}
.header-accordion{
  /* Bus de enlace: NACH-GMRC-COB-0001 */
background-color: #fff;
font-weight: 500;
font-size: 12px;
line-height: 24px;
/* identical to box height, or 200% */

align-items: center;

/* project/dark-gray */

color: #707070;


/* Inside auto layout */

flex: none;
flex-grow: 0;
}
.i-acordion {
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  text-align: center;

  /* project/dark-gray */

  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.clasificacion {
  color: white !important;
  /* display: flex; */
  /* flex-direction: row; */
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  height: 24px;

  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.clasificacion i {
  vertical-align: top;
  text-align: center !important;
  color: white !important;
  line-height: 14px;
}
.img-header {
  width: 60px;
  height: 60px;
}
.img-documento {
  justify-content: center;
  align-items: center;
  width: 54px;
  height: 54px;
}
.title-doc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 14px;
  /* identical to box height, or 100% */

  text-transform: capitalize;

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title-doc {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  /* identical to box height, or 117% */

  display: flex;
  align-items: center;
  text-align: center;

  /* project/dark-gray */

  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.img-tarea {
  width: 30px;
  height: 30px;
}
/* Este elemento debe tener "position: relative" */
div#is-relative {
  position: relative;
}

/* El icono debe ser "position: absolute"
 * Ademas le damos un "display: block" y lo posicionamos */
#icon {
  position: absolute;
  display: block;
  bottom: 0.5rem;
  right: 1rem;

  user-select: none;
  cursor: pointer;
}
.pagination {
  justify-content: right !important;
  align-content: right !important;
  align-items: right !important;
  align-content: flex-end !important;
  justify-content: flex-end !important;
}
.pagination a {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 48px;
  height: 48px;

  /* Light / Surfaces / Content */

  background: #ffffff;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}

.pagination a.active {
  /* Paginator-Count */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px;
  gap: 10px;

  width: 48px;
  height: 48px;

  /* Light/Utility/Primary-Transparent */

  background: #eff6ff;
  border-radius: 24px;

  /* Inside auto layout */

  flex: none;
  flex-grow: 0;
}
.pagination a:hover:not(.active) {
  background-color: #ddd;
}
.circle-x {
  box-sizing: border-box;

  width: 34px !important;
  height: 34px !important;
  border-radius: 50px;

  /* stroke */

  border: 0.5px solid #7c859b;
  box-shadow: 0px 4px 16px rgba(0, 0, 0, 0.05);
}
.right {
  justify-content: right;
  align-items: right;
  align-content: right;
}
.tag-header-table {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 105px;
  height: 24px;

  /* project/primary */

  background: #516184;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 0;
}
.td-fech-blue {
  /* TD */
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  gap: 16px;

  border-radius: 25px;

  /* Highlight/blue */

  background: #66a9f8;

  /* Inside auto layout */

  flex: none;
  order: 15;
  flex-grow: 0;
}
.td-img {
  width: 24px;
  height: 24px;
}
.td-fech-purple {
  /* TD */
  flex-direction: row;
  align-items: center;
  padding: 0px 15px;
  gap: 16px;

  border-radius: 25px;

  /* Highlight/purple */

  background: #8d84e8;

  /* Inside auto layout */

  flex: none;
  order: 15;
  flex-grow: 0;
}
.text-blue-rfq {
  /* Tag Text */
  width: 127px;
  height: 16px;

  font-weight: 500;
  font-size: 12px;
  line-height: 16px;
  /* identical to box height, or 133% */

  /* project/blue */

  color: #1071e5;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.title-resumen-gasto {
  /* Resumen de gastos */

  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-resumen-gasto {
  /* Proyecto: */
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height, or 113% */

  /* gray */

  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-resumen {
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 155px;
  height: 24px;
  color: #fff;

  /* Highlight/green */

  background: #68c699;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-presupuesto {
  /* Data-item */

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 12px 20px 12px 15px;
  gap: 5px;

  width: 184px;
  height: 52px;

  /* Highlight/blue */

  background: #66a9f8;
  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.div-ellipsis {
  width: 250px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.modal-content{
  max-height: 500px;
  overflow-y: scroll;
}
.div-btnGenerar{
  float: right !important;
}