.contenido {
  width: 100%;
  padding: auto;
  font-family: "Montserrat", sans-serif !important;
  color: #343633 !important;
  font-weight: 400 !important;
  font-size: 12px !important;
  font-style: normal !important;
  line-height: 16px !important;
}
html {
  box-sizing: border-box;
}
*,
*:before,
*:after {
  box-sizing: inherit;
}
.navbar {
  width: 100%;
  height: 60px !important;
  position: absolute !important;
  background: #fff !important;
}
.navbar-toggler {
  display: block !important;
  margin-right: 30px;
}
.nav-link {
  text-align: right;
}
.migas {
  margin-top: 40px;
  font-size: 16px !important;
  font-weight: 400 !important;
  color: #423f3f !important;
  background: #f7f7fe !important;
}
.breadcrumb {
  text-align: right !important;
  justify-content: right !important;
}
.migas a {
  text-decoration: none;
  color: #423f3f !important;
}
.regresar {
  position: absolute;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */
  color: #423f3f;
}

.iconos {
  color: #000000 !important;
  font-size: 20px !important;
}

.icon-white {
  color: white !important;
}
.ico-add {
  /* add */
  box-sizing: border-box;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  width: 60px;
  height: 60px;
  background: #f7f7fe;
  /* stroke */
  border: 0.5px solid #7c859b;
  border-radius: 50px;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
.set {
  /* SET 01 */
  font-weight: 700;
  font-size: 16px;
  line-height: 24px;
  color: #343633;
}

.bg-success {
  /* Auto layout */
  color: #fff;
  flex-direction: row;
  align-items: center;
  padding: 1px 10px;
  gap: 10px;
  font-size: 12px;
  /* project/spring */

  background: #28a745;
  border-radius: 20px;
}

.bg-info {
  color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 10px;
  gap: 10px;
  font-size: 12px;
  /* Highlight/blue */

  background: #66a9f8;
  border-radius: 20px;
}

.bg-warning {
  color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 10px;
  gap: 10px;
  font-size: 12px;
  /* Highlight/blue */

  background: #fc9432;
  border-radius: 20px;
}
.bg-danger {
  color: #fff;
  flex-direction: row;
  align-items: flex-start;
  padding: 1px 10px;
  gap: 10px;
  font-size: 12px;
  /* Highlight/blue */

  background: red;
  border-radius: 20px;
}
.bg-danger-compra {
  /* Tag */
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 25px;
  height: 24px;

  /* project/danger */

  background: #dc3545;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bg-success-compra {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 21px;
  height: 24px;

  /* project/success */

  background: #28a745;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-secondary {
  /* Tag */
  color: #fff;
  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 100px;
  height: 24px;

  /* project/light-gray */

  background: #d0d5dd;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-evento {
  /* Data-item */
  align-items: center;
  padding: 12px 15px 12px 10px;
  color: #fff;
  width: 149px;
  height: 55px;
  /* project/success */

  background: #28a745;
  border-radius: 10px;
}

.user-info {
  margin-right: -15px;
}
.align {
  text-align: right;
}
.activo {
  /* Button */

  box-sizing: border-box;
  color: #fff;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  /* project/blue */

  background: #1071e5 !important;
  /* project/blue */

  border: 1px solid #1071e5;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;
}

.botonera {
  color: #fff;
  background: #d0d5dd;
}
.tabla {
  /* Auto layout */

  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  border-collapse: collapse;
  width: 100%;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
th {
  /* TH */

  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  /* Auto layout */
  flex-direction: row;
  align-items: center !important;
  padding: 5px 15px;
  gap: 16px;

  height: 34px;

  /* Light / Surfaces / Light-50 */

  background: #f8fafc;
  /* Light / Surfaces / Border */

  border-width: 1px 0px;
  border-style: solid;
  border-color: #e2e8f0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
td {
  /* TD */

  box-sizing: border-box;
  max-width: 100%;
  white-space: nowrap;
  /* Auto layout */
  flex-direction: row;
  align-items: center !important;
  padding: 0px 15px;
  gap: 16px;

  height: 45px;

  /* Light / Surfaces / Content */

  background: #ffffff;
  /* Light / Surfaces / Border */

  border-bottom: 1px solid #e2e8f0;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 1;
}
.img-circle {
  border-radius: 20px;
}
.tag-success {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 104px;
  height: 24px;

  /* project/success */

  background: #28a745;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-warning {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 104px;
  height: 24px;

  /* project/warning */

  background: #fc9432;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-danger {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 101px;
  height: 24px;

  /* project/danger */

  background: #dc3545;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-agregar {
  /* Button */

  box-sizing: border-box;

  /* Auto layout */
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: auto;
  height: 34px;

  /* project/primary */

  background: #516184;
  /* project/primary */

  border: 1px solid #516184;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.input-wrapper {
  position: relative;
}

.input {
  box-sizing: border-box;
  color: #191919;
  padding: 10px 10px 10px 35px;
  width: 100%;
}

.input-icon {
  color: #191919;
  position: absolute;
  width: 20px;
  height: 20px;
  left: 22px;
  top: 50%;
  transform: translateY(-50%);
}
.icon-red {
  color: red !important;
}
.icon-modal {
  font-size: 30px !important;
}
.calendario {
  background-color: #516184 !important;
  color: #fff;
  /* Caption */

  width: 67px;
  height: 24px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  /* identical to box height, or 150% */

  align-items: center;
  text-align: center;
  letter-spacing: 0.12px;

  /* project/white */

  color: #ffffff;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.datepicker-days {
  border-radius: 30px;
}
tr .prev {
  border-radius: 30px 0 0 0 !important;
}

tr .next {
  border-radius: 0 30px 0 0 !important;
}
.search {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 8px 45px;
  gap: 10px;
  width: 100%;
  height: 34px;

  background: #ffffff;
  /* project/light-gray */

  border: 1px solid #d0d5dd;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}
.task-header {
  /* Auto layout */
  background: #fff !important;
  border: none !important;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  border: none !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.task-title {
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 500;
  font-size: 12px;
  line-height: 24px;
  /* identical to box height, or 200% */
  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.table-task {
  padding: 0px !important;
}
.task-card {
  background: #fff !important;
}
.child {
  text-decoration: none !important;
  /* Auto layout */
  color: #1e293b !important;
  display: flex;
  flex-direction: row;
  padding: 5px 15px;
  gap: 16px;

  /* Light / Surfaces / Light-50 */

  background: #f8fafc;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.form-check-input {
  /* Checkbox */
  box-sizing: border-box;

  width: 16px;
  height: 16px;

  /* project/success */

  color: #28a745 !important;
  /* project/success */

  border: 2px solid #28a745 !important;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-color: #28a745 !important;
}
.custom-checkbox .custom-control-input:active ~ .custom-control-label::before {
  background-color: #c8ffc8;
}

.tarea-1 {
  border-left: 3px solid #516184;
}
.tarea-2 {
  border-left: 3px solid #1071e5;
}
.fc-today-button {
  /* Button */

  box-sizing: border-box !important;

  /* Auto layout */
  margin-top: 8px !important;
  flex-direction: row !important;
  justify-content: center !important;
  align-items: center !important;
  padding: 5px 15px !important;
  gap: 8px !important;

  width: 55px !important;
  height: 25px !important;

  background: #ffffff !important;
  /* project/dark */

  border: 1px solid #343633 !important;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05) !important;
  border-radius: 8px !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.fc-prev-button {
  border: none !important;
  background: local !important;
  font-size: 20px !important;
}
.fc-next-button {
  border: none !important;
  background: local !important;
  font-size: 20px !important;
}
.fecha-actual {
  background: local !important;
  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 600 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  margin-top: 8px !important;
  /* identical to box height, or 200% */

  color: #000000;

  /* Inside auto layout */

  flex: none;
  order: 3;
  flex-grow: 0;
}
.fecha-actual:first-letter {
  text-transform: uppercase;
}

.fc-widget-header {
  /* TH */
  box-sizing: border-box;

  /* Auto layout */

  align-items: center;
  padding-top: 7px;
  gap: 16px;

  /* Light / Surfaces / Light-50 */

  background: #f8fafc;
  /* Light / Surfaces / Border */

  border-width: 1px 0px;
  border-style: solid;
  border-color: #e2e8f0;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 1;
}
.fc-widget-header th:first-letter {
  text-transform: uppercase;
}
.fc-today .fc-day-number {
  /* Frame 269 */

  /* Auto layout */
  color: #fff !important;
  display: flex;
  align-items: flex-start;
  padding: 5px;
  gap: 10px;

  width: 28px;
  height: 30px;

  /* project/blue */

  background: #1071e5 !important;
  border-radius: 4px !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.fc-event-container {
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
}
.fc-content {
  /* Task item */
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  /* Auto layout */
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px 10px;
  gap: 10px;

  height: 40px;

  border-radius: 10px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}
.fc-title {
  width: 50px;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;

  height: 14px;

  font-family: "Montserrat" !important;
  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 14px !important;
  line-height: 14px !important;
  /* identical to box height, or 100% */

  text-transform: capitalize;

  /* Pallate/gray/800 */

  color: #1f2937;

  /* Inside auto layout */

  flex: none;
  order: 2;
  flex-grow: 1;
}
.bg-primary {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 23px;
  height: 24px;

  /* project/blue */

  background: #1071e5;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.bg-compras-primary {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 125px;
  height: 24px;

  /* Highlight/blue */

  background: #66a9f8;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-compras-warning {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 125px;
  height: 24px;

  /* Highlight/orange */

  background: #f1bd6c;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-compras-danger {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 125px;
  height: 24px;

  /* Highlight/red */

  background: #f06a6a;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-exportar {
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 84px;
  height: 34px;

  background: #ffffff;
  /* project/dark */

  border: 1px solid #343633;
  /* Shadow/xs */

  box-shadow: 0px 1px 2px rgba(16, 24, 40, 0.05);
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.bg-registro {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 35px;
  height: 24px;

  /* Highlight/purple */

  background: #8d84e8;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.btn-generar {
  /* Button */

  box-sizing: border-box;
  text-decoration: none !important;
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 110px;
  height: 34px;

  /* project/primary */

  background: #516184;
  /* project/primary */

  border: 1px solid #516184;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.tag-primary {
  /* Tag */

  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 83px;
  height: 24px;

  /* project/blue */

  background: #1071e5;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.title-rfq {
  /* RFQ No. 845 */

  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 12px !important;
  line-height: 24px !important;
  /* identical to box height, or 200% */

  display: flex;
  align-items: center !important;

  /* project/dark-gray */

  color: #707070 !important;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-cancelar {
  /* Button */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 85px;
  height: 34px;

  background: #ffffff;
  /* project/dark */

  border: 1px solid #343633;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.text-title-rfq {
  /* Generar RFQ */
  width: 107px;
  height: 16px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* black-text */

  color: #373936;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title-rfq {
  /* Revisa y modifica la información del RFQ a generar */
  width: 382px;
  height: 17px;

  font-family: "Montserrat";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 17px;
  /* identical to box height, or 113% */

  /* gray */

  color: #707070;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.añadir {
  /* Añadir */
  text-decoration: none;
  width: 46px;
  height: 15px;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 13px;
  line-height: 15px;
  /* identical to box height, or 115% */

  /* primary-color */

  color: #526183 !important;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.detalle-rfq {
  /* Detalles del RFQ */

  width: 139px;
  height: 16px;
  font-style: normal !important;
  font-weight: 700 !important;
  font-size: 16px !important;
  line-height: 16px;
  /* identical to box height, or 100% */

  /* black-text */

  color: #373936 !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.sub-title-detalle {
  width: 36px;
  height: 17px;

  font-style: normal !important;
  font-weight: 400 !important;
  font-size: 15px !important;
  line-height: 17px !important;
  /* identical to box height, or 113% */

  /* gray */

  color: #707070 !important;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;
}
.tag-detalle {
  /* Auto layout */
  color: #fff;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 8px;
  gap: 4px;

  width: 55px;
  height: 24px;

  /* Highlight/purple */

  background: #8d84e8;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-descarga {
  /* Button */

  color: #fff !important;
  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px 15px;
  gap: 8px;

  width: 50px;
  height: 34px;

  /* project/primary */

  background: #516184;
  /* project/primary */

  border: 1px solid #516184;
  border-radius: 8px;

  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.btn-orden {
  /* Auto layout */
  color: #fff;
  flex-direction: row !important;
  align-items: center !important;
  padding: 12px 20px 12px 15px !important;
  gap: 5px !important;

  height: 60px !important;

  /* Highlight/blue */

  background: #66a9f8 !important;
  border-radius: 10px !important;
  border: #66a9f8;
  /* Inside auto layout */

  flex: none;
  order: 1;
  flex-grow: 0;
}
.icon-button {
  width: 20px !important;
  height: 16px !important;
}
.border-card {
  /* Container */

  box-sizing: border-box;

  /* Auto layout */
  color: #707070;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 7px 10px;
  gap: 10px;

  background: #ffffff;
  /* project/primary */

  border-left: 10px solid #516184;
  border-radius: 4px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}
