<div class="justify-content-between mt-3">
  <div class="row">
    <div class="col-6 col-lg-3">
      <select
        class="form-control selectpicker"
        data-live-search="true"
        title="Filtrar por Owner"
      >
        <option value="1">Floyd Miles</option>
        <option value="2">Floyd Miles</option>
        <option value="3">Floyd Miles</option>
      </select>
    </div>
    <div class="col-6 col-lg-9" align="right">
      <button type="button" class="btn btn-exportar mr-3">Exportar</button>
    </div>
  </div>
</div>
<div class="col-12 mt-3">
  <div id="calendar"></div>
</div>

<script>
  var eventsURL = "view/calendario/eventos.json";
  $(document).ready(function () {
    $("#calendar").fullCalendar({
      header: {
        left: "today, prev, next, title",
        center: "",
        right: "",
      },
      columnHeaderFormat: "dddd",

      defaultDate: new Date(),
      buttonIcons: true,
      weekNumbers: false,
      weekends: false,
      eventLimit: 3,
      events: {
        url: eventsURL,
      },
      eventRender: function (event, eventElement) {
        if (event.imageurl) {
          $(eventElement).find(".fc-time").append(event.icon);
          eventElement
            .find("div.fc-content")
            .prepend(
              "<img src='" +
                event.imageurl +
                "' class='rounded-circle' width='20' height='20'>" +
                "<i class='bx " +
                event.icon +
                "'></i>"
            );
        }
      },
    });
  });
</script>
