<!-- Modal -->
<div
  class="modal fade"
  id="sub-tareaModal"
  tabindex="-1"
  aria-labelledby="sub-tareaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="sub-tareaModalLabel">
          <i class="bx bx-plus ico-add"></i>
          Agregar subtarea
        </h3>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12 mb-3">
            <label>Descripción</label>
            <input
              type="text"
              class="form-control"
              name="descripcion"
              placeholder="Ingresa la descripción"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
