<!-- Modal -->
<div
  class="modal fade"
  id="AproveedorModal"
  tabindex="-1"
  aria-labelledby="AproveedorModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="AproveedorModalLabel">
          <i class="bx bx-plus ico-add"></i>Asignar proveedor
        </h3>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              placeholder="Ingrese el nombre"
            />
            <a
              href="#"
              class="añadir mt-1"
              data-toggle="modal"
              data-target="#proveedor"
              >
              <div class="col-12">
                <div class="row">
                  <div><i class="bx bx-plus"></i></div>
                  <div class="mt-1">Agregar</div>
                </div>
              </div>
            </a>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>RFC</label>
            <input
              type="text"
              class="form-control"
              name="rfc"
              placeholder="Ingrese el RFC"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Dirección</label>
            <textarea
              name="direccion"
              id="direccion"
              rows="3"
              class="form-control"
              placeholder="Ingrese la dirección"
            ></textarea>
          </div>
          <div class="col-12 mb-2">
            <strong>Entrega</strong>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Forma de entrega</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa el correo"
            />
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label class="form-control-placeholder" id="end-p"
              >Fecha de entrega</label
            >
            <div id="is-relative">
              <input type="text" class="form-control" id="entrega" />
              <span id="icon">
                <i class="bx bx-calendar"></i>
              </span>
            </div>
          </div>
          <div class="col-12 mb-3">
            <label>Dirección de entrega</label>
            <textarea
              name="direccion_entrega"
              id="direccion_entrega"
              rows="3"
              class="form-control"
              placeholder="Ingrese la dirección"
            ></textarea>
          </div>
          <div class="col-12 mb-2">
            <strong>Anticipo</strong>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Monto del anticipo</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese la cantidad"
            />
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Moneda del anticipo</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Selecciona la moneda"
            >
              <option value="1">USD</option>
              <option value="2">USD</option>
              <option value="3">USD</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label class="form-control-placeholder" id="end-p"
              >Fecha del anticipo</label
            >
            <div id="is-relative">
              <input type="text" class="form-control" id="anticipo" />
              <span id="icon">
                <i class="bx bx-calendar"></i>
              </span>
            </div>
          </div>
          <div class="col-12 mb-2">
            <strong>Liquidación</strong>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Monto de la liquidación</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese la cantidad"
            />
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Moneda de la liquidación</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Selecciona la moneda"
            >
              <option value="1">USD</option>
              <option value="2">USD</option>
              <option value="3">USD</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label class="form-control-placeholder" id="end-p"
              >Fecha de la liquidación</label
            >
            <div id="is-relative">
              <input type="text" class="form-control" id="liquidacion" />
              <span id="icon">
                <i class="bx bx-calendar"></i>
              </span>
            </div>
          </div>
          <div class="col-12 mb-2">
            <strong>Garantía</strong>
          </div>
          <div class="col-md-12 col-lg-6">
            <label>Tiempo de garantia (en meses)</label>
            <input type="text" class="form-control" placeholder="Ingresa la cantidad en meses">
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
  $(document).ready(function () {
    $("#entrega, #anticipo, #liquidacion").datepicker({
      format: "dd-mm-yyyy",
      autoclose: true,
      calendarWeeks: true,
      clearBtn: true,
    });
  });
</script>
