<!-- Modal -->
<div
  class="modal fade"
  id="cotizacion"
  tabindex="-1"
  aria-labelledby="cotizacionModalLabel"
  aria-hidden="true"
  style="overflow-y: scroll"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="cotizacionModalLabel">
          <i class="bx bx-plus ico-add"></i>
          Agregar cotización
        </h3>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-11 mb-3">
            <label>Proveedor</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Selecciona el proveedor"
            >
              <option value="1">test</option>
              <option value="2">test</option>
              <option value="3">test</option>
            </select>
          </div>
          <div class="col-1 mt-4">
            <a href="#" onclick="abrir_modal()">
              <i class="bx bx-plus-circle"></i
            ></a>
          </div>

          <div class="col-6 mb-3">
            <label>Importe</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa la cantidad"
            />
          </div>
          <div class="col-6 mb-3">
            <label>Moneda</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Selecciona la moneda"
            >
              <option value="1">test</option>
              <option value="2">test</option>
              <option value="3">test</option>
            </select>
          </div>
          <div class="col-12">
            <input type="checkbox" class="checkbox-class mt-2" />&nbsp;<label
              >Requiere aduana</label
            >
          </div>
          <div class="col-12 mb-3">
            <label>Lugar de entrega</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingresa el lugar"
            />
          </div>
          <div class="col-6 mb-3">
            <label>Tiempo de garantía</label>
            <input
              type="text"
              class="form-control"
              placeholder="Ingrese el lugar"
            />
          </div>
          <div class="col-6 mb-3 input-daterange">
            <label>Fecha de entrega</label>
            <div id="is-relative">
              <input type="text" class="form-control" placeholder="dd-mm-yyyy" />
              <span id="icon">
                <i class="bx bx-calendar"></i>
              </span>
            </div>
          </div>
          <div class="col-12 mb-3">
            <input
              id="file-cotizacion"
              name="input-b1"
              type="file"
              class="file mt-3"
              data-browse-on-zone-click="true"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
  $("#file-cotizacion").fileinput({
    allowedFileExtensions: ["jpg", "jpeg", "png"],
    overwriteInitial: false,
    maxFileSize: 1024,
    maxFilesNum: 10,
    showUpload: false,
    showCaption: false,
    showRemove: false,
    showBrowse: false,
  });
  $(document).ready(function () {
    $(".input-daterange").datepicker({
      format: "dd-mm-yyyy",
      autoclose: true,
      calendarWeeks: true,
      clearBtn: true,
    });
  });
  function abrir_modal() {
    $("#cotizacion").modal("hide");
    $("#proveedor").modal("show");
  }
  $("#proveedor").on("show.bs.modal", function (e) {
    $("#cotizacion").modal("hide");
  });
  $("#proveedor").on("hidden.bs.modal", function (e) {
    $("#cotizacion").modal("show");
  });

  $("#adm_cuenta").on("show.bs.modal", function (e) {
    $("#proveedor").modal("hide");
  });
  $("#adm_cuenta").on("hidden.bs.modal", function (e) {
    $("#proveedor").modal("show");
  });
  $("#admin_cuenta_int").on("show.bs.modal", function (e) {
    $("#proveedor").modal("hide");
  });
  $("#admin_cuenta_int").on("hidden.bs.modal", function (e) {
    $("#proveedor").modal("show");
  });
  $("#admin_contacto").on("show.bs.modal", function (e) {
    $("#proveedor").modal("hide");
  });
  $("#admin_contacto").on("hidden.bs.modal", function (e) {
    $("#proveedor").modal("show");
  });
</script>
