<!-- Modal -->
<div
  class="modal fade"
  id="add_divisas"
  tabindex="-1"
  aria-labelledby="add_divisasModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="add_divisasModalLabel">
          <i class="bx bx-plus ico-add"></i>
          Administrar divisas
        </h3>
      </div>
      <div class="modal-body p-3">
        <div class="col-12">
          <div class="row">
            <div class="content-proveedores col-5 p-2">
              <strong class="mb-2">Divisas</strong><br>
              <span>Consulta las divisas existentes</span>
              <hr />
              <div class="borde-green">
                <div>
                  <span class="proveedor">USD</span><br />
                  <span class="sub-proveedor">Habilitado . TDC a USD: 0.05224</span>
                </div>
              </div>
              <div class="borde-green mt-2">
                <div>
                  <span class="proveedor">MX</span><br />
                  <span class="sub-proveedor">Habilitado . TDC a USD: 0.977634434</span>
                </div>
              </div>
              <div class="borde-red mt-2">
                <div>
                  <span class="proveedor">EUR</span><br />
                  <span class="sub-proveedor">Deshabilitado . TDC a USD: 1.02000</span>
                </div>
              </div>
            </div>
            <div class="col-7">
              <div class="col-12 mb-2">
                <label>Divisa</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingrese la divisa"
                />
              </div>
              <div class="col-12 mb-2">
                <label>Descripción</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingrese la descripción"
                />
              </div>
              <div class="col-12 mb-2">
                <label>TDC a USD</label>
                <input
                  type="text"
                  class="form-control"
                  placeholder="Ingrese la cantidad"
                />
              </div>
              <div class="col-12 mb-2">
                <label> Habilitado </label>&nbsp;
                <label class="switch mb-3">
                  <input type="checkbox" class="success" checked />
                  <span class="slider round"></span>
                </label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn btn-secondary""
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
