<!-- Modal -->
<div
  class="modal fade"
  id="documentosModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="exampleModalLabel">
          Agregar documento
        </h1>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
        ></button>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12 mb-3">
            <label>Tipo de documento</label>
            <select
              class="selectpicker"
              data-live-search="true"
              placeholder="Seleccione el tipo de documento"
            >
              <option value="1">PDF</option>
              <option value="2">XLS</option>
              <option value="3">WORD</option>
            </select>
          </div>
          <div class="col-12 mb-3">
            <i class="fa fa-plus"></i>&nbsp;<label>Añadir</label>
            <input
              id="file-1"
              name="input-b1"
              type="file"
              class="file mt-3"
              data-browse-on-zone-click="true"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn btn-outline-dark"
          data-bs-dismiss="modal"
        >
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
  $("#file-1").fileinput({
    allowedFileExtensions: ["jpg", "jpeg", "png"],
    overwriteInitial: false,
    maxFileSize: 1024,
    maxFilesNum: 10,
    showUpload: false,
  });
</script>
