<div class="modal" tabindex="-1" role="dialog" id="eliminarModal">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content p-3">
      <div class="modal-body">
        <div class="row">
          <div class="col-12">
            <center>
              <button
                class="icono-eliminar rounded-circle"
                style="
                  font-size: 45px;
                  background-color: rgb(254, 138, 138, 0.3);
                "
              >
                <i class="bx bxs-error icono-error"></i></button
              ><br /><br />
              <span class="title-eliminar">Eliminar</span>
              <span class="texto-eliminar"
                ><strong> ¿Estás seguro de eliminar el registro?</strong></span
              ><br />
              <span class="texto-eliminar"
                >Esta acción eliminará toda la Información relacionada.</span
              >
            </center>
          </div>
        </div>
      </div>
      <div class="modal-footer centrar">
        <button type="button" class="btn-agregar-ppi" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn-eliminar">Confirmar</button>
      </div>
    </div>
  </div>
</div>
