<!-- Modal -->
<div
  class="modal fade"
  id="modificar_partidaModal"
  tabindex="-1"
  aria-labelledby="modificar_partidaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="modificar_partidaModalLabel">
          <i class="bx bx-pencil ico-add"></i>
          Modificar Partida
        </h3>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12 mb-3">
            <label>Cantidad</label>
            <input
              type="text"
              class="form-control"
              name="descripcion"
              placeholder="Ingresa la cantidad"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
