<!-- Modal -->
<div
  class="modal fade"
  id="noConformidadModal"
  tabindex="-1"
  aria-labelledby="noConformidadModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="noConformidadModalLabel">
          <i class="bx bx-plus ico-add"></i>
          Detalles de no conformidad
        </h3>
      </div>
      <div class="modal-body p-4">
        <!-- card Identificación -->
        <div class="card p-3">
          <div class="row p-2">
            <strong>Identificación</strong>
            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-md-12 col-lg-6">
                  <div class="col-12 mb-3 input-daterange">
                    <label>Fecha de Identificación</label>
                    <div id="is-relative">
                      <input type="text" class="form-control" />
                      <span id="icon">
                        <i class="bx bx-calendar"></i>
                      </span>
                    </div>
                  </div>
                  <div class="col-12 mb-3">
                    <label>Descripción</label>
                    <textarea
                      name="descripcion"
                      id="descripcion"
                      rows="4"
                      class="form-control"
                      placeholder="Ingresa la descripción breve"
                    ></textarea>
                  </div>
                </div>
                <div class="col-md-12 col-lg-6">
                  <input
                    id="file-3"
                    name="input-b2"
                    type="file"
                    class="file"
                    data-browse-on-zone-click="true"
                  />
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- fin card 1 -->
        <!-- card seguimiento -->
        <div class="card p-3 mt-3">
          <div class="row mt-2">
            <div class="col-12">
              <div class="row">
                <div class="col-9">
                  <strong class="definition"
                    >Seguimiento y evidencia que solventa la NO
                    conformidad</strong
                  >
                </div>
                <div class="col-3">
                  <button
                    class="btn-agregar-ppi"
                    data-target="#seguimientoModal"
                    data-toggle="modal"
                  >
                    <i class="bx bx-plus"></i> Agregar
                  </button>
                </div>
              </div>
            </div>
            <div class="col-12">
              <div class="card div-success mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-1 col-lg-1 mt-1" align="center">
                      <img
                        src="public/image/user.png"
                        class="rounded-circle imagen-ppi"
                      />
                    </div>
                    <div class="col-md-9 col-lg-10">
                      <div class="col-12">
                        <strong>Responsable: Ricardo Rodriguez .</strong
                        >&nbsp;Avance
                        <span class="badge bg-success chip">100%</span>&nbsp;<i
                          class="bx bx-calendar"
                          style="font-size: 14px"
                        ></i
                        >&nbsp;July 14, 2015
                      </div>
                      <div class="col-12">
                        <span>Generar el documento relacionado</span>
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-1 mt-2">
                      <div class="row">
                        <i class="bx bx-file"></i>
                        <i class="bx bx-trash icon-red"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card div-danger mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-1 col-lg-1 mt-1" align="center">
                      <img
                        src="public/image/user.png"
                        class="rounded-circle imagen-ppi"
                      />
                    </div>
                    <div class="col-md-9 col-lg-10">
                      <div class="col-12">
                        <strong>Responsable: Ricardo Rodriguez .</strong
                        >&nbsp;Avance
                        <span class="badge bg-danger chip">20%</span>&nbsp;<i
                          class="bx bx-calendar"
                          style="font-size: 14px"
                        ></i
                        >&nbsp;July 14, 2015
                      </div>
                      <div class="col-12">
                        <span
                          >Solicitud de compras para el material pendiente</span
                        >
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-1 mt-2">
                      <div class="row">
                        <i class="bx bx-file"></i>
                        <i class="bx bx-trash icon-red"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="card div-warning mt-3">
                <div class="col-12">
                  <div class="row">
                    <div class="col-md-1 col-lg-1 mt-1" align="center">
                      <img
                        src="public/image/user.png"
                        class="rounded-circle imagen-ppi"
                      />
                    </div>
                    <div class="col-md-9 col-lg-10">
                      <div class="col-12">
                        <strong>Responsable: Ricardo Rodriguez .</strong
                        >&nbsp;Avance
                        <span class="badge bg-warning chip">50%</span>&nbsp;<i
                          class="bx bx-calendar"
                          style="font-size: 14px"
                        ></i
                        >&nbsp;July 14, 2015
                      </div>
                      <div class="col-12 mt-2">
                        Loren ipsun dolor sit anet, consectetur adipisci elit,
                        sed eiusnod tenpor incidunt ut.
                      </div>
                    </div>
                    <div class="col-md-2 col-lg-1 mt-2">
                      <div class="row">
                        <i class="bx bx-file"></i>
                        <i class="bx bx-trash icon-red"></i>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-12 mt-3">
              <div class="row">
                <div class="col-12">
                  <span class="definition">Estatus</span>
                </div>
                <div class="col-12 mt-2">
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio1"
                      value="option1"
                      checked
                    />
                    <label class="form-check-label" for="inlineRadio1"
                      >Identificado</label
                    >
                  </div>
                  <div class="form-check form-check-inline">
                    <input
                      class="form-check-input"
                      type="radio"
                      name="inlineRadioOptions"
                      id="inlineRadio2"
                      value="option2"
                    />
                    <label class="form-check-label" for="inlineRadio2"
                      >Resuelto</label
                    >
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- fin card 2 -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-agregar-ppi" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn-agregar">Guardar</button>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
  $(document).ready(function () {
    $(".input-daterange").datepicker({
      format: "dd/mm/yyyy",
      autoclose: true,
      calendarWeeks: true,
      clearBtn: true,
      disableTouchKeyboard: true,
    });
  });
  $("#file-3").fileinput({
    allowedFileExtensions: ["jpg", "jpeg", "png"],
    maxFileSize: 1024,
    maxFilesNum: 10,
    showUpload: false,
    showCaption: false,
    showRemove: false,
    showBrowse: false,
  });
</script>
