<!-- Modal -->
<div
  class="modal fade"
  id="partidaModal"
  tabindex="-1"
  aria-labelledby="partidaModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h1 class="modal-title fs-5" id="partidaModalLabel">
          <i class="bx bx-pencil ico-add"></i>
          Editar partida
        </h1>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12 mb-3">
            <label>Código de serie</label>
            <input
              type="text"
              class="form-control"
              name="descripcion"
              placeholder="Ingresa la serie"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Notas de la partida</label>
            <textarea
              name="notas"
              id="notas"
              rows="4"
              class="form-control"
              placeholder="Ingrese las notas"
            ></textarea>
          </div>
          <div class="col-12 mb-3">
            <label>Fotos</label>
            <input
              id="file-foto"
              name="input-b1"
              type="file"
              class="file mt-3"
              data-browse-on-zone-click="true"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Documentos</label>
            <input
              id="file-doc"
              name="input-b1"
              type="file"
              class="file mt-3"
              data-browse-on-zone-click="true"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $("#file-foto").fileinput({
    allowedFileExtensions: ["jpg", "jpeg", "png"],
    overwriteInitial: false,
    maxFileSize: 1024,
    maxFilesNum: 10,
    showUpload: false,
    showCaption: true,
    showRemove: true,
    showBrowse: false,
  });
  $("#file-doc").fileinput({
    allowedFileExtensions: ["pdf", "docx", "xls"],
    overwriteInitial: false,
    maxFileSize: 1024,
    maxFilesNum: 10,
    showUpload: false,
    showCaption: true,
    showRemove: true,
    showBrowse: false,
  });
</script>
