<!-- Modal -->
<div
  class="modal fade"
  id="proyectoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered modal-dialog-scrollable">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">
          <i class="bx bx-plus ico-add"></i>
          Agregar proyecto
        </h3>
      </div>
      <div class="modal-body">
        <div class="row">
          <div class="col-12 mb-2">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1"
              />
              <label class="form-check-label" for="inlineRadio1"
                >Proviene de una oferta</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="option2"
              />
              <label class="form-check-label" for="inlineRadio2"
                >No proviene de una oferta</label
              >
            </div>
          </div>
          <div class="col-12 mb-3">
            <label>Nombre</label>
            <input
              type="text"
              class="form-control"
              name="nombre"
              placeholder="Ingresa el nombre"
            />
          </div>
          <div class="col-12">
            <div class="row">
              <div class="col-9 mb-3">
                <label>Número de contrato/orden de compra</label>
                <input
                  type="text"
                  class="form-control"
                  name="numero"
                  placeholder="Ingresa el número"
                />
              </div>
              <div class="col-3 mt-4">
                <div class="row">
                  <a href="#"><i class="bx bx-file-blank icon-modal"></i></a
                  >&nbsp;
                  <a href="#"
                    ><i class="bx bxs-file-pdf icon-red icon-modal"></i
                  ></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3">
            <label>Cliente</label><br />
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Seleccione el cliente"
            >
              <option value="1">Carlos Rodrigues</option>
              <option value="2">Jesús Gomez</option>
              <option value="3">Ricardo Peña</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Color</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Seleccione el Color"
            >
              <option value="1" style="background-color: pink">Rosa</option>
              <option value="2" style="background-color: red">Rojo</option>
              <option value="3" style="background-color: blue">Azul</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Ícono</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Seleccione el ícono"
            >
              <option value="1" data-icon="bx bx-car">Carro</option>
              <option value="2" data-icon="bx bx-bell">Campana</option>
              <option value="3" data-icon="bx bx-flag">Bandera</option>
            </select>
          </div>
          <div class="col-12 mb-3">
            <label>Periodo</label>
            <div class="input-group input-daterange">
              <div class="col-md-12 col-lg-6">
                <label class="form-control-placeholder" id="start-p" for="start"
                  >Fecha inicio</label
                >
                <div id="is-relative">
                  <input type="text" class="form-control" />
                  <span id="icon">
                    <i class="bx bx-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="col-md-12 col-lg-6">
                <label class="form-control-placeholder" id="end-p" for="end"
                  >Fecha fin</label
                >
                <div id="is-relative">
                  <input type="text" class="form-control" />
                  <span id="icon">
                    <i class="bx bx-calendar"></i>
                  </span>
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Presupuesto</label>
            <input
              type="text"
              class="form-control"
              name="presupuesto"
              placeholder="Ingresa el presupueto"
            />
          </div>
          <div class="col-md-12 col-lg-6 mt-4">
            <select
              class="form-control selectpicker mt-1"
              data-live-search="true"
              title="Seleccione moneda"
            >
              <option value="1">USD</option>
              <option value="2">Euro</option>
              <option value="3">Peso</option>
            </select>
          </div>
          <div class="col-12 mb-2">
            <strong>Instrucciones de entrega</strong>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Dirección</label>
            <input
              type="text"
              class="form-control"
              name="direccion"
              placeholder="Ingresa el dirección"
            />
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Centro de entrega</label>
            <input
              type="text"
              class="form-control"
              name="centro_entrega"
              placeholder="Ingresa el centro de entrega"
            />
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Estado</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Seleccione el Estado"
            >
              <option value="1">Mexico</option>
              <option value="2">Aguascalientes</option>
              <option value="3">Baja California</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>País</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Seleccione el País"
            >
              <option value="1">Mexico</option>
              <option value="2">Estados Unidos</option>
              <option value="3">Canada</option>
            </select>
          </div>
          <div class="col-md-12 col-lg-6 mb-3">
            <label>Código postal</label>
            <input
              type="text"
              class="form-control"
              name="cp"
              placeholder="Ingresa el código postal"
            />
          </div>
          <div class="col-12">
            <strong>Estatus</strong>
          </div>
          <div class="col-12 mb-3 mt-2">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input mt-1"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio1"
                value="option1"
              />
              <label class="form-check-label" for="inlineRadio1">
                <span class="badge tag-success"
                  >Entregado&nbsp;<i class="bx bx-check-circle icon-white"></i
                ></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input mt-1"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio2"
                value="option2"
              />
              <label class="form-check-label" for="inlineRadio2">
                <span class="badge tag-warning"
                  >En proceso&nbsp;<i class="bx bx-error icon-white"></i
                ></span>
              </label>
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input mt-1"
                type="radio"
                name="inlineRadioOptions"
                id="inlineRadio3"
                value="option3"
              />
              <label class="form-check-label" for="inlineRadio3">
                <span class="badge tag-danger"
                  >Estancado&nbsp;<i class="bx bx-error icon-white"></i
                ></span>
              </label>
            </div>
          </div>
          <div class="col-12">
            <strong>Seguridad</strong>
          </div>
          <div class="col-12 mb-3 mt-2">
            <div class="form-check form-check-inline">
              <input
                class="form-check-input mt-1"
                type="checkbox"
                name="inlineCheckOptions"
                id="inlineCheck1"
                value="option1"
              />
              <label class="form-check-label" for="inlineCheck1"
                >Acceso Abierto&nbsp;</label
              >
            </div>
            <div class="form-check form-check-inline">
              <input
                class="form-check-input mt-1"
                type="checkbox"
                name="inlineCheckOptions"
                id="inlineCheck2"
                value="option2"
              />
              <label class="form-check-label" for="inlineCheck2"
                >Acceso Restringido&nbsp;</label
              >
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
  $(document).ready(function () {
    $(".input-daterange").datepicker({
      format: "dd-mm-yyyy",
      autoclose: true,
      calendarWeeks: false,
      clearBtn: false,
      disableTouchKeyboard: true,
    });
  });
</script>
