<!-- Modal -->
<div
  class="modal fade"
  id="resultadoModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">
          <i class="bx bx-plus ico-add"></i>
          Agregar elemento de inspección
        </h3>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12 mb-3">
            <label>Elemento</label>
            <input
              type="text"
              class="form-control"
              name="elemento"
              placeholder="Ingresa el elemento"
            />
          </div>
          <div class="col-6">
            <label>Puntos requeridos</label>
            <input
              type="text"
              class="form-control"
              name="puntosR"
              placeholder="Ingresa la cantidad"
            />
          </div>
          <div class="col-6">
            <label>Puntos aprobados</label>
            <input
              type="text"
              class="form-control"
              name="puntosA"
              placeholder="Ingresa la cantidad"
            />
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn-agregar-ppi" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn-agregar">Guardar</button>
      </div>
    </div>
  </div>
</div>
