<!-- segunda modal -->
<div
  class="modal fade"
  id="seguimientoModal"
  aria-hidden="true"
  aria-labelledby="seguimientoModalLabel"
  tabindex="-1"
>
  <div class="modal-dialog modal-dialog-centered modal-lg">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h3 class="modal-title" id="seguimientoModalLabel">
          <i class="bx bx-plus ico-add"></i>
          Agregar seguimiento
        </h3>
      </div>
      <div class="modal-body">
        <div class="col-12 p-3">
          <div class="row">
            <div class="col-6 mb-3 input-daterange">
              <label>Fecha</label>
              <div id="is-relative">
                <input type="text" class="form-control" />
                <span id="icon">
                  <i class="bx bx-calendar"></i>
                </span>
              </div>
            </div>
            <div class="col-6 mb-3">
              <label>Avance</label>
              <input
                type="text"
                name="avance"
                class="form-control"
                placeholder="Ingrese el porcentaje"
              />
            </div>
            <div class="col-12 mb-3">
              <label>Responsable</label>
              <input
                type="text"
                name="responsable"
                class="form-control"
                placeholder="Ingrese el nombre"
              />
            </div>
            <div class="col-12 mb-3">
              <label>Acción realizada</label>
              <textarea
                name="accion"
                id="accion"
                rows="3"
                placeholder="Ingrese la descripción"
                class="form-control"
              ></textarea>
            </div>
            <div class="col-12 mb-3">
              <label>Evidencia</label>
              <input
                id="file-evidencia"
                name="input-b2"
                type="file"
                class="file"
                data-browse-on-zone-click="true"
              />
            </div>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button
          type="button"
          class="btn-agregar-ppi"
          data-target="#noConformidadModal"
          data-toggle="modal"
          data-dismiss="modal"
        >
          Cancelar
        </button>
        <button
          type="button"
          class="btn-agregar"
          data-target="#noConformidadModal"
          data-toggle="modal"
          data-dismiss="modal"
        >
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
<!-- fin modal 2 -->
<script>
  $("#file-evidencia").fileinput({
    allowedFileExtensions: ["jpg", "jpeg", "png"],
    maxFileSize: 1024,
    maxFilesNum: 10,
    showUpload: false,
    showCaption: false,
    showRemove: false,
    showBrowse: false,
  });
</script>
