<!-- Modal -->
<div
  class="modal fade"
  id="tareaModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content p-4">
      <div class="modal-header">
        <h3 class="modal-title fs-5" id="exampleModalLabel">
          <i class="bx bx-plus ico-add"></i>Agregar tarea
        </h3>
      </div>
      <div class="modal-body p-4">
        <div class="row">
          <div class="col-12" align="right">
            <button type="button" class="btn-tarea-completada">
              <i class="bx bx-check-circle icon-white"></i> Marcar como
              completada
            </button>
          </div>
          <div class="col-12 mb-3">
            <label>Descripción breve</label>
            <input
              type="text"
              class="form-control"
              name="descripcion"
              placeholder="Ingresa la descripción"
            />
          </div>
          <div class="col-12 mb-3">
            <label>Instrucciones</label>
            <textarea
              name="instrucciones"
              class="form-control"
              id="instrucciones"
              rows="3"
              placeholder="Ingrese las instrucciones"
            ></textarea>
          </div>
          <div class="col-12 mb-3">
            <label>Responsable</label>
            <select
              class="form-control selectpicker"
              data-live-search="true"
              title="Selecciona al responsable"
            >
              <option value="1">Floyd Miles</option>
              <option value="2">Floyd Miles</option>
              <option value="3">Floyd Miles</option>
            </select>
          </div>
          <div class="col-12 mb-3">
            <label class="form-control-placeholder" id="end-p"
              >Fecha de entrega</label
            >
            <div id="is-relative">
              <input type="text" class="form-control" id="entrega" />
              <span id="icon">
                <i class="bx bx-calendar"></i>
              </span>
            </div>
          </div>
          <div class="col-12 mb-3 mt-2">
            <div class="row">
              <div class="col-6 text-left">
                <label class="text-start">Archivos adjuntos</label>
              </div>
              <div class="col-6">
                <a
                  href="#"
                  data-toggle="modal"
                  data-target="#add_doc_tareaModal"
                  class="añadir"
                >
                  <div class="col-12">
                    <div class="row div-btnGenerar">
                      <div><i class="bx bx-plus"></i></div>
                      <div class="mt-1">Agregar</div>
                    </div>
                  </div>
                </a>
              </div>
            </div>
          </div>
          <div class="col-12 mb-3 mt-2">
            <ul class="list-group">
              <li class="list-group-item">
                <i class="fa fa-file-text-o"> Maquetación final.pdf</i>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-outline-dark" data-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-secondary">Guardar</button>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
    $("#entrega").datepicker({
      format: "dd-mm-yyyy",
      autoclose: true,
      calendarWeeks: true,
      clearBtn: true,
    });

    $("#add_doc_tareaModal").on("show.bs.modal", function (e) {
      $("#tareaModal").modal("hide");
    });
    $("#add_doc_tareaModal").on("hidden.bs.modal", function (e) {
      $("#tareaModal").modal("show");
    });
  });
</script>
