<div class="justify-content-between mt-3">
  <div class="col-12 p-3">
    <div class="row">
      <div class="col-md-6 col-lg-10">
        <strong class="text-title-rfq">Generar RFQ</strong><br />
        <span class="sub-title-rfq"
          >Revisa y modifica la información del RFQ a generar</span
        >
      </div>
      <div class="col-md-6 col-lg-2">
        <div class="row">
          <button class="btn-cancelar">Cancelar</button>&nbsp;&nbsp;
          <a
            href="/"
            class="btn-agregar"
            style="text-decoration: none !important"
            >Generar</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
<div class="col-12">
  <div class="card p-3">
    <div class="justify-content-between">
      <div class="col-12 p-3">
        <div class="row">
          <div class="col-md-6 col-lg-11">
            <strong class="text-title-rfq">Lista de elementos</strong><br />
            <span class="sub-title-rfq"
              >Detalles de las partidas relacionadas</span
            >
          </div>
          <div class="col-md-6 col-lg-1">
            <button
              class="btn-cancelar"
              data-toggle="modal"
              data-target="#agregar_equipoModal"
            >
              <i class="bx bx-plus"></i>Agregar
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="table-responsive p-4">
      <table width="100%">
        <thead>
          <tr>
            <th></th>
            <th>Cantidad</th>
            <th>Descripción</th>
            <th align="center">Detalle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <!-- icono editar -->
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#modificar_partidaModal"
                ><i class="bx bx-pencil"></i
              ></a>
            </td>
            <!-- cantidad -->
            <td><span class="bg bg-primary">34</span></td>
            <!-- descripción -->
            <td>
              UCB IEC61850 DNP 64ED 32SD PARA TABLERO UCB R LINEA
              6264LA2D6AB0002054000000000200
            </td>
            <!-- detalle -->
            <td><i class="bx bx-file"></i></td>
          </tr>
          <tr>
            <!-- icono editar -->
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#modificar_partidaModal"
                ><i class="bx bx-pencil"></i
              ></a>
            </td>
            <!-- cantidad -->
            <td><span class="bg bg-primary">34</span></td>
            <!-- descripción -->
            <td>UCB IEC61850 DNP 96ED 32SD PARA TABLERO UCBR TRAFO</td>
            <!-- detalle -->
            <td><i class="bx bx-file"></i></td>
          </tr>
          <tr>
            <!-- icono editar -->
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#modificar_partidaModal"
                ><i class="bx bx-pencil"></i
              ></a>
            </td>
            <!-- cantidad -->
            <td><span class="bg bg-primary">15</span></td>
            <!-- descripción -->
            <td>
              Servidor SCADA IEC61850 para tablero bus de estación IEC61850
              846206
            </td>
            <!-- detalle -->
            <td><i class="bx bx-file"></i></td>
          </tr>
          <tr>
            <!-- icono editar -->
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#modificar_partidaModal"
                ><i class="bx bx-pencil"></i
              ></a>
            </td>
            <!-- cantidad -->
            <td><span class="bg bg-primary">12</span></td>
            <!-- descripción -->
            <td>
              UCB IEC61850 DNP 64ED 32SD PARA TABLERO UCB R LINEA
              6264LA2D6AB0002054000000000200
            </td>
            <!-- detalle -->
            <td><i class="bx bx-file"></i></td>
          </tr>
          <tr>
            <!-- icono editar -->
            <td>
              <a
                href="#"
                data-toggle="modal"
                data-target="#modificar_partidaModal"
                ><i class="bx bx-pencil"></i
              ></a>
            </td>
            <!-- cantidad -->
            <td><span class="bg bg-primary">41</span></td>
            <!-- descripción -->
            <td>
              UCB IEC61850 DNP 64ED 32SD PARA TABLERO UCB R LINEA
              6264LA2D6AB0002054000000000200
            </td>
            <!-- detalle -->
            <td><i class="bx bx-file"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
