<style type="text/css">
  .kv-file-content {
    width: 177px !important;
    height: 177px !important;
  }
  .file-input {
    width: 250px !important;
  }
  .file-thumbnail-footer {
    display: none;
  }
</style>
<div class="col-12 mt-3">
  <div class="row">
    <div class="col-md-6 col-lg-10">
      <strong>Agregar nuevo suministro</strong><br />
      <span>Información general del suministro</span>
    </div>
    <div class="col-md-6 col-lg-2" align="right">
      <div class="d-flex">
        <button type="button" class="btn-agregar-ppi">Cancelar</button
        >&nbsp;&nbsp;
        <button type="button" class="btn-agregar">Guardar</button>
      </div>
    </div>
  </div>
</div>
<div class="col-12 mt-3">
  <div class="card">
    <div class="col-12 p-2">
      <strong>Datos del suministro</strong>
    </div>
    <div class="col-12">
      <div class="row">
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Order code</label>
          <input
            type="text"
            name="order"
            class="form-control"
            placeholder="Ingresa el order code"
          />
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Marca</label>
          <select
            class="form-control selectpicker"
            data-live-search="true"
            title="Selecciona la marca"
          >
            <option value="1">Test</option>
            <option value="2">Test</option>
            <option value="3">Test</option>
          </select>
          <a
            href="#"
            class="añadir"
            data-toggle="modal"
            data-target="#add_marcas"
          >
            <div class="col-12">
              <div class="row">
                <div><i class="bx bx-plus"></i></div>
                <div class="mt-1">Agregar</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Modelo</label>
          <input
            type="text"
            name="modelo"
            class="form-control"
            placeholder="Ingresa el modelo"
          />
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Entrega</label>
          <select
            class="form-control selectpicker"
            data-live-search="true"
            title="Selecciona la entrega"
          >
            <option value="1">Test</option>
            <option value="2">Test</option>
            <option value="3">Test</option>
          </select>
          <a
            href="#"
            class="añadir"
            data-toggle="modal"
            data-target="#add_lugares"
          >
            <div class="col-12">
              <div class="row">
                <div><i class="bx bx-plus"></i></div>
                <div class="mt-1">Agregar</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Descripción</label>
          <textarea
            class="form-control"
            rows="2"
            placeholder="Ingresa la descripción"
          ></textarea>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Clasificador</label>
          <select
            class="form-control selectpicker"
            data-live-search="true"
            title="Selecciona el clasificador"
          >
            <option value="1">Test</option>
            <option value="2">Test</option>
            <option value="3">Test</option>
          </select>
          <a
            href="#"
            class="añadir"
            data-toggle="modal"
            data-target="#add_clasificador"
          >
            <div class="col-12">
              <div class="row">
                <div><i class="bx bx-plus"></i></div>
                <div class="mt-1">Agregar</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Subclasificador</label>
          <select
            class="form-control selectpicker"
            data-live-search="true"
            title="Selecciona el subclasificador"
          >
            <option value="1">Test</option>
            <option value="2">Test</option>
            <option value="3">Test</option>
          </select>
          <a
            href="#"
            class="añadir"
            data-toggle="modal"
            data-target="#add_subclasificador"
          >
            <div class="col-12">
              <div class="row">
                <div><i class="bx bx-plus"></i></div>
                <div class="mt-1">Agregar</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-4 mb-3">
          <label>Último proveedor</label>
          <select
            class="form-control selectpicker"
            data-live-search="true"
            title="Selecciona el proveedor"
          >
            <option value="1">Test</option>
            <option value="2">Test</option>
            <option value="3">Test</option>
          </select>
          <a
            href="#"
            class="añadir"
            data-toggle="modal"
            data-target="#proveedor"
          >
            <div class="col-12">
              <div class="row">
                <div><i class="bx bx-plus"></i></div>
                <div class="mt-1">Agregar</div>
              </div>
            </div>
          </a>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="row">
            <div class="col-6">
              <label>Garantía (meses)</label>
              <input
                type="text"
                name="garantia"
                class="form-control"
                placeholder="Ingresa la garantia"
              />
            </div>
            <div class="col-6">
              <label>T. entrega (semanas)</label>
              <input
                type="text"
                name="tentrega"
                class="form-control"
                placeholder="Ingresa el tiempo"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="row">
            <div class="col-6">
              <label>Precio ($3,853.12)</label>
              <input
                type="text"
                name="precio"
                class="form-control"
                placeholder="Ingresa el precio"
              />
            </div>
            <div class="col-6">
              <label>Moneda</label>
              <select
                class="form-control selectpicker"
                data-live-search="true"
                title="Selecciona la moneda"
              >
                <option value="1">Test</option>
                <option value="2">Test</option>
                <option value="3">Test</option>
              </select>
              <a
                href="#"
                class="añadir"
                data-toggle="modal"
                data-target="#add_divisas"
              >
                <div class="col-12">
                  <div class="row">
                    <div><i class="bx bx-plus"></i></div>
                    <div class="mt-1">Agregar</div>
                  </div>
                </div>
              </a>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="row">
            <div class="col-md-12 col-lg-6">
              <label>Porcentaje de anticipo</label>
              <input
                type="text"
                name="anticipo"
                class="form-control"
                placeholder="Ingresa el porcentaje"
              />
            </div>
            <div class="col-md-12 col-lg-6">
              <label>Días de crédito</label>
              <input
                type="text"
                name="credito"
                class="form-control"
                placeholder="Ingresa los días"
              />
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-6 mb-3 mt-3">
          <label>Fotografía (opcional)</label>
          <input
            id="file-suministro"
            name="input-b1"
            type="file"
            accept="image/*"
          />
        </div>
      </div>
    </div>
  </div>
  <div class="card mt-3 mb-3">
    <div class="col-12 mt-3">
      <div class="row">
        <div class="col-md-12 col-lg-6">
          <strong>Documentos relacionados</strong><br />
          <span>Detalles de los documentos relacionados</span>
        </div>
        <div class="col-md-12 col-lg-6" align="right">
          <button
            type="button"
            class="btn-agregar-ppi"
            data-toggle="modal"
            data-target="#documento-relacionado"
          >
            <i class="bx bx-plus"></i><strong> Añadir documento</strong>
          </button>
        </div>
      </div>
    </div>
    <div class="col-12 mt-3">
      <div class="table-responsive">
        <table width="100%">
          <tbody>
            <tr height="80">
              <td width="1%">
                <button class="icono-eliminar rounded-circle">
                  <i class="bx bxs-file-pdf icono-error"></i>
                </button>
              </td>
              <td width="97%">
                <div class="col-12">
                  <strong>Bases Liciación.Pdf</strong><br />
                  <span><i class="bx bx-calendar-alt"></i> 16 Abr. 2021</span>
                </div>
              </td>
              <td width="2%">
                <a href="#"
                  ><div class="circle-x">
                    <i
                      class="bx bx-plus"
                      style="
                        transform: rotate(45deg);
                        margin-top: 6px;
                        margin-left: 6px;
                      "
                    ></i></div
                ></a>
              </td>
            </tr>
            <tr height="80">
              <td width="1%">
                <button class="icono-eliminar rounded-circle">
                  <i class="bx bxs-file-pdf icono-error"></i>
                </button>
              </td>
              <td width="97%">
                <div class="col-12">
                  <strong>Bases Liciación.Pdf</strong><br />
                  <span><i class="bx bx-calendar-alt"></i> 16 Abr. 2021</span>
                </div>
              </td>
              <td width="2%">
                <a href="#"
                  ><div class="circle-x">
                    <i
                      class="bx bx-plus"
                      style="
                        transform: rotate(45deg);
                        margin-top: 6px;
                        margin-left: 6px;
                      "
                    ></i></div
                ></a>
              </td>
            </tr>
            <tr height="80">
              <td width="1%">
                <button class="icono-eliminar rounded-circle">
                  <i class="bx bxs-file-pdf icono-error"></i>
                </button>
              </td>
              <td width="97%">
                <div class="col-12">
                  <strong>Bases Liciación.Pdf</strong><br />
                  <span><i class="bx bx-calendar-alt"></i> 16 Abr. 2021</span>
                </div>
              </td>
              <td width="2%">
                <a href="#"
                  ><div class="circle-x">
                    <i
                      class="bx bx-plus"
                      style="
                        transform: rotate(45deg);
                        margin-top: 6px;
                        margin-left: 6px;
                      "
                    ></i></div
                ></a>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
  $("#file-suministro").fileinput({
    initialPreview:
      "http://upload.wikimedia.org/wikipedia/commons/thumb/e/e1/FullMoon2010.jpg/631px-FullMoon2010.jpg",
    allowedFileExtensions: ["jpg", "jpeg", "png"],
    overwriteInitial: false,
    initialPreviewAsData: true,
    maxFileSize: 1024,
    maxFilesNum: 1,
    showUpload: false,
    showCaption: false,
    showRemove: false,
    showBrowse: false,
    // maxImageWidth: 177,
    // maxImageHeight: 177,
    // resizePreference: 'width',
    resizeImage: true,
    initialPreviewConfig: [
      {
        width: "120px",
      },
    ],
  });
</script>
