<!-- ENCABEZADO -->
<div class="justify-content-between">
  <div class="col-12 mt-4">
    <div class="row">
      <div class="col-md-12 col-lg-9">
        <strong> Listado de Partidas </strong>
      </div>
      <div class="col-md-6 col-lg-3" align="right">
        <form>
          <div class="input-wrapper">
            <input
              type="search"
              class="input form-control search"
              placeholder="Buscar"
            />
            <i class="bx bx-search input-icon"></i>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
<!-- tabla -->
<div id="accordion  mt-3">
  <div class="card border-0">
    <div class="card-header" id="partidaheadingOne">
      <h5 class="mb-0">
        <div
          class="btn"
          data-toggle="collapse"
          data-target="#partidacollapseOne"
          aria-expanded="true"
          aria-controls="partidacollapseOne"
        >
          <div class="row">
            <span class="bg bg-primary">4</span>&nbsp;<span
              class="span-costo"
              style="font-size: 12px"
            >
              Bus de enlace: <strong>NACH-GMRC-COB-0001</strong></span
            >
          </div>
        </div>
        &nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#partidaModal"
          ><i class="bx bx-pencil"></i
        ></a>
      </h5>
    </div>

    <div
      id="partidacollapseOne"
      class="collapse show"
      aria-labelledby="partidaheadingOne"
      data-parent="#accordion"
    >
      <div class="card-body">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Order code</th>
                <th>Marca</th>
                <th>Serie</th>
                <th>Inspección Calidad</th>
                <th>Solicita RFQ</th>
                <th>Orden de compra</th>
                <th>Ingeniería</th>
                <th>Reciben en almacén</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <!-- order code -->
                <td>GM-CFE-25LH-BUS</td>
                <!-- marca -->
                <td>GE</td>
                <!-- serie -->
                <td>11250696</td>
                <!-- inspección calidad -->
                <td align="center">
                  <input type="checkbox" class="custom-blue" id="c4" checked />
                </td>
                <!-- solicita rfq -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Nov 16, 2016</span>
                </td>
                <!-- orden compra -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Mar 22, 2013</span>
                </td>
                <!-- ingeniería -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
                <!-- reciben en almacen -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
              </tr>
              <tr>
                <!-- order code -->
                <td>GM-CFE-25LH-BUS</td>
                <!-- marca -->
                <td>GE</td>
                <!-- serie -->
                <td>11250696</td>
                <!-- inspección calidad -->
                <td align="center">
                  <input
                    type="checkbox"
                    class="custom-blue"
                    id="customCheck3"
                  />
                </td>
                <!-- solicita rfq -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Nov 16, 2016</span>
                </td>
                <!-- orden compra -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Mar 22, 2013</span>
                </td>
                <!-- ingeniería -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
                <!-- reciben en almacen -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
              </tr>
              <tr>
                <!-- order code -->
                <td>GM-CFE-25LH-BUS</td>
                <!-- marca -->
                <td>GE</td>
                <!-- serie -->
                <td>11250696</td>
                <!-- inspección calidad -->
                <td align="center">
                  <input
                    type="checkbox"
                    class="custom-blue"
                    id="customCheck4"
                  />
                </td>
                <!-- solicita rfq -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Nov 16, 2016</span>
                </td>
                <!-- orden compra -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Mar 22, 2013</span>
                </td>
                <!-- ingeniería -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
                <!-- reciben en almacen -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
              </tr>
              <tr>
                <!-- order code -->
                <td>GM-CFE-25LH-BUS</td>
                <!-- marca -->
                <td>GE</td>
                <!-- serie -->
                <td>11250696</td>
                <!-- inspección calidad -->
                <td align="center">
                  <input
                    type="checkbox"
                    class="custom-blue"
                    id="customCheck5"
                    checked
                  />
                </td>
                <!-- solicita rfq -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Nov 16, 2016</span>
                </td>
                <!-- orden compra -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Mar 22, 2013</span>
                </td>
                <!-- ingeniería -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
                <!-- reciben en almacen -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
              </tr>
              <tr>
                <!-- order code -->
                <td>GM-CFE-25LH-BUS</td>
                <!-- marca -->
                <td>GE</td>
                <!-- serie -->
                <td>11250696</td>
                <!-- inspección calidad -->
                <td align="center">
                  <input
                    type="checkbox"
                    class="custom-blue"
                    id="customCheck6"
                    checked
                  />
                </td>
                <!-- solicita rfq -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Nov 16, 2016</span>
                </td>
                <!-- orden compra -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Mar 22, 2013</span>
                </td>
                <!-- ingeniería -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
                <!-- reciben en almacen -->
                <td>
                  <img
                    src="public/image/user.png"
                    alt="user"
                    class="rounded-circle user-info"
                  /><span class="ml-4">Sep 01, 2000</span>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="card border-0">
    <div class="card-header" id="partidaheadingTwo">
      <h5 class="mb-0">
        <div
          class="btn"
          data-toggle="collapse"
          data-target="#partidaTwo"
          aria-expanded="false"
          aria-controls="partidaTwo"
        >
          <div class="row">
            <span class="bg bg-primary">4</span>&nbsp;<span
              class="span-costo"
              style="font-size: 12px"
            >
              Bus de enlace: <strong>NACH-GMRC-COB-0001</strong></span
            >
          </div>
        </div>
        &nbsp;&nbsp;<a href="#" data-toggle="modal" data-target="#partidaModal"
          ><i class="bx bx-pencil"></i
        ></a>
      </h5>
    </div>
    <div
      id="partidaTwo"
      class="collapse"
      aria-labelledby="partidaheadingTwo"
      data-parent="#accordion"
    >
      <div class="card-body">
        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
        terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
        skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
        Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
        single-origin coffee nulla assumenda shoreditch et. Nihil anim keffiyeh
        helvetica, craft beer labore wes anderson cred nesciunt sapiente ea
        proident. Ad vegan excepteur butcher vice lomo. Leggings occaecat craft
        beer farm-to-table, raw denim aesthetic synth nesciunt you probably
        haven't heard of them accusamus labore sustainable VHS.
      </div>
    </div>
  </div>
</div>
