<div class="col-12">
  <div class="row">
    <div class="col-8"></div>
    <div class="col-md-4 col-lg-3 pull-right">
      <form>
        <div class="input-group">
          <input type="text" class="form-control" placeholder="Buscar" />
          <div class="input-group-btn">
            <button class="btn btn-default" type="submit">
              <i class="fa fa-search"></i>
            </button>
          </div>
        </div>
      </form>
    </div>
    <div class="col-md-4 col-lg-1">
      <button type="button" class="btn btn-secondary btn-sm">
        <i class="fa fa-download"></i>
      </button>
    </div>
  </div>
</div>
<div class="col-12 p-3">
  <h5><strong>Detalles del RFQ</strong></h5>
  <br />
  <span>RFQ:&nbsp;<span class="rfq">#&nbsp;351</span></span>

  <div class="col-12 mt-2">
    <div class="card p-2 table-responsive">
      <caption>
        Listado de elementos
      </caption>
      <table id="tabla-rfq" class="table table-sm" width="100%">
        <thead>
          <tr>
            <th width="2%">Cantidad</th>
            <th width="96%">Descripción</th>
            <th width="2%">Anexo</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><span class="badge bg-primary">10</span></td>
            <td>Computadora industrial, Hiperie8300</td>
            <td><i class="fa fa-file-text-o"></i></td>
          </tr>
          <tr>
            <td><span class="badge bg-primary">7</span></td>
            <td>Computadora industrial, Hiperie8300</td>
            <td><i class="fa fa-file-text-o"></i></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#tabla-rfq").DataTable({
      dom: "r",
      autoWidth: false,
      language: {
        url: "../../public/js/es-ES.json",
      },
    });
  });
</script>
