<!-- Encabezado -->
<div class="col-12 p-3">
  <div class="row">
    <div class="col-md-12 col-lg-10">
      <strong>Resumen de gastos</strong><br />
      <span
        >Proyecto:
        <span class="badge bg-success">
          <i class="fa fa-calendar-check-o"></i> Gestión de calidad</span
        ></span
      >
    </div>
    <div class="col-md--12 col-lg-2 text-end">
      <button class="btn btn-info" style="color: white">
        <i class="fa fa-money"></i>&nbsp;Presupuesto <br /><strong
          >$150,000.00</strong
        >
      </button>
    </div>
  </div>
</div>
<!-- fin -->

<div class="col-12 p-2">
  <div class="row p-3">
    <div class="card">
      <!-- filtros -->
      <div class="col-12 p-3">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <div class="row">
              <div class="col-md-12 col-lg-6">
                <select
                  class="selectpicker"
                  data-live-search="true"
                  placeholder="Filtrar por Clasificación"
                >
                  <option
                    value="1"
                    style="background-color: rgb(145, 241, 225)"
                    data-icon="fa fa-crosshairs"
                  >
                    Equipos
                  </option>
                  <option
                    value="2"
                    style="background-color: rgb(163, 163, 245)"
                    data-icon="fa fa-wrench"
                  >
                    Servicios
                  </option>
                  <option
                    value="3"
                    style="background-color: magenta"
                    data-icon="fa fa-bar-chart-o"
                  >
                    Finanzas
                  </option>
                </select>
              </div>
              <div class="col-md-12 col-lg-6">
                <select
                  class="selectpicker"
                  data-live-search="true"
                  placeholder="Filtrar por Owner"
                >
                  <option value="1">Floyd Miles</option>
                  <option value="2">Floyd Miles</option>
                  <option value="3">Floyd Miles</option>
                </select>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-lg-6">
            <div class="row">
              <div class="col-8"></div>
              <div class="col-4 text-end">
                <button
                  type="button"
                  class="btn btn-secondary"
                  data-bs-toggle="modal"
                  data-bs-target="#costoModal"
                >
                  Agregar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- fin -->
      <div class="table-responsive p-4">
        <table id="tabla-gasto" class="table table-sm caption-top" width="100%">
          <caption>
            Listado de Gastos
          </caption>
          <thead>
            <tr>
              <th>Owner</th>
              <th>Fecha</th>
              <th>Clasificación</th>
              <th>Importe</th>
              <th>Moneda</th>
              <th>Acumulado</th>
              <th>Saldo</th>
              <th>Reseña</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>
                <img
                  src="../../public/image/user.png"
                  alt="owner"
                  class="rounded-circle"
                  width="25%"
                />
                <span>Abert Flores</span>
              </td>
              <td>Jan 27, 2024</td>
              <td>
                <span
                  style="
                    background-color: magenta;
                    padding: 5px;
                    color: white;
                    border-radius: 7px;
                  "
                  >Finanzas&nbsp;<i class="fa fa-bar-chart-o"></i
                ></span>
              </td>
              <td>$ 3,500.00</td>
              <td>USD</td>
              <td>$26,720.00</td>
              <td><span class="badge bg-success">$ 132,100.00</span></td>
              <td>
                Lorem ipsum dolor sit amet. Sed magni mollitia est aspernatur
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../public/image/user.png"
                  alt="owner"
                  class="rounded-circle"
                  width="25%"
                />
                <span>Abert Flores</span>
              </td>
              <td>Jan 27, 2024</td>
              <td>
                <span
                  style="
                    background-color: rgb(163, 163, 245);
                    padding: 5px;
                    color: white;
                    border-radius: 7px;
                  "
                  >Servicios&nbsp;<i class="fa fa fa-wrench"></i
                ></span>
              </td>
              <td>$ 3,500.00</td>
              <td>USD</td>
              <td>$26,720.00</td>
              <td><span class="badge bg-warning">$ 132,100.00</span></td>
              <td>
                Lorem ipsum dolor sit amet. Sed magni mollitia est aspernatur
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../public/image/user.png"
                  alt="owner"
                  class="rounded-circle"
                  width="25%"
                />
                <span>Abert Flores</span>
              </td>
              <td>Jan 27, 2024</td>
              <td>
                <span
                  style="
                    background-color: rgb(145, 241, 225);
                    padding: 5px;
                    color: white;
                    border-radius: 7px;
                  "
                  >Equipos&nbsp;&nbsp;<i class="fa fa-crosshairs"></i
                ></span>
              </td>
              <td>$ 3,500.00</td>
              <td>USD</td>
              <td>$26,720.00</td>
              <td><span class="badge bg-warning">$ 132,100.00</span></td>
              <td>
                Lorem ipsum dolor sit amet. Sed magni mollitia est aspernatur
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../public/image/user.png"
                  alt="owner"
                  class="rounded-circle"
                  width="25%"
                />
                <span>Abert Flores</span>
              </td>
              <td>Jan 27, 2024</td>
              <td>
                <span
                  style="
                    background-color: purple;
                    padding: 5px;
                    color: white;
                    border-radius: 7px;
                  "
                  >Intereses&nbsp;<i class="fa fa-star-o"></i
                ></span>
              </td>
              <td>$ 3,500.00</td>
              <td>USD</td>
              <td>$26,720.00</td>
              <td><span class="badge bg-secondary">$ 132,100.00</span></td>
              <td>
                Lorem ipsum dolor sit amet. Sed magni mollitia est aspernatur
              </td>
            </tr>
            <tr>
              <td>
                <img
                  src="../../public/image/user.png"
                  alt="owner"
                  class="rounded-circle"
                  width="25%"
                />
                <span>Abert Flores</span>
              </td>
              <td>Jan 27, 2024</td>
              <td>
                <span
                  style="
                    background-color: rgb(154, 214, 154);
                    padding: 5px;
                    color: white;
                    border-radius: 7px;
                  "
                  >Viáticos&nbsp;<i class="fa fa-car"></i
                ></span>
              </td>
              <td>$ 3,500.00</td>
              <td>USD</td>
              <td>$26,720.00</td>
              <td><span class="badge bg-danger">-$ 42,100.00</span></td>
              <td>
                Lorem ipsum dolor sit amet. Sed magni mollitia est aspernatur
              </td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  $(document).ready(function () {
    $("#tabla-gasto").DataTable({
      dom: "frtp",
      language: {
        url: "../../public/js/es-ES.json",
      },
    });
  });
</script>
