<!-- filtros -->
<div class="col-12 p-3">
  <div class="row">
    <div class="col-md-6 col-lg-2">
      <label>Marca</label>
      <select
        class="selectpicker form-control"
        data-live-search="true"
        title="Selecciona la marca"
      >
        <option value="1">test 1</option>
        <option value="2">test 2</option>
        <option value="3">test 3</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-2">
      <label>Clasificador</label>
      <select
        class="selectpicker form-control"
        data-live-search="true"
        title="Selecciona el clasificador"
      >
        <option value="1">test 1</option>
        <option value="2">test 2</option>
        <option value="3">test 3</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-2">
      <label>Subclasificador</label>
      <select
        class="selectpicker form-control"
        data-live-search="true"
        title="Selecciona el subclasificador"
      >
        <option value="1">test 1</option>
        <option value="2">test 2</option>
        <option value="3">test 3</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-2">
      <label>Entrega</label>
      <select
        class="selectpicker form-control"
        data-live-search="true"
        title="Selecciona la entrega"
      >
        <option value="1">test 1</option>
        <option value="2">test 2</option>
        <option value="3">test 3</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-4 mt-4 pull-right">
      <form>
        <div class="input-wrapper">
          <input
            type="search"
            class="input form-control search"
            placeholder="Buscar"
          />
          <i class="bx bx-search input-icon"></i>
        </div>
      </form>
    </div>
  </div>
</div>
<!-- fin filtros -->
<!-- tabla -->
<div class="col-12 p-3">
  <div class="card p-2">
    <div class="col-lg-12" align="right">
      <div class="d-flex pagination">
        <button type="button" class="btn-agregar mr-3">Agregar</button>
        <button type="button" class="btn-exportar">Exportar</button>
      </div>
    </div>
    <div class="col-12 mt-2">
      <div class="row">
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th></th>
                <th>Order code</th>
                <th>Marca</th>
                <th>Modelo</th>
                <th>Descripción</th>
                <th>Garantía (meses)</th>
                <th>T. Entregas (semanas)</th>
                <th>Entrega</th>
                <th>Clasificador</th>
                <th>Subclasificador</th>
                <th>Precio</th>
                <th>Moneda</th>
                <th>Cotizaciones similares</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>
                  <a href="#"><i class="bx bx-pencil"></i></a>
                </td>
                <td>G-50-04151312</td>
                <td>GE</td>
                <td>G500</td>
                <td>SCADA G500</td>
                <td>12</td>
                <td>18</td>
                <td>EXW</td>
                <td>Suministro Nacional</td>
                <td>Hardware</td>
                <td>4134</td>
                <td>USD</td>
                <td><span class="badge bg-primary">5</span></td>
              </tr>
              <tr>
                <td>
                  <a href="#"><i class="bx bx-pencil"></i></a>
                </td>
                <td>G-50-04151312</td>
                <td>GE</td>
                <td>G500</td>
                <td>SCADA G500</td>
                <td>12</td>
                <td>18</td>
                <td>Aduana MEX</td>
                <td>Suministro Internacional</td>
                <td>Licencias</td>
                <td>1,000.67</td>
                <td>MX</td>
                <td><span class="badge bg-primary">4</span></td>
              </tr>
              <tr>
                <td>
                  <a href="#"><i class="bx bx-pencil"></i></a>
                </td>
                <td>G-50-04151312</td>
                <td>GE</td>
                <td>G500</td>
                <td>SCADA G500</td>
                <td>12</td>
                <td>18</td>
                <td>Oficina MEX</td>
                <td>Servicio</td>
                <td>Fletes Internacionales</td>
                <td>88.66</td>
                <td>EUR</td>
                <td><span class="badge bg-secondary">0</span></td>
              </tr>
              <tr>
                <td>
                  <a href="#"><i class="bx bx-pencil"></i></a>
                </td>
                <td>G-50-04151312</td>
                <td>GE</td>
                <td>G500</td>
                <td>SCADA G500</td>
                <td>12</td>
                <td>18</td>
                <td>Oficina proveedor</td>
                <td>Costo financiero</td>
                <td>Gastos adanuales</td>
                <td>13500.99</td>
                <td>MX</td>
                <td><span class="badge bg-primary">1</span></td>
              </tr>
              <tr>
                <td>
                  <a href="#"><i class="bx bx-pencil"></i></a>
                </td>
                <td>G-50-04151312</td>
                <td>GE</td>
                <td>G500</td>
                <td>SCADA G500</td>
                <td>12</td>
                <td>18</td>
                <td>EXW</td>
                <td>Suministro Nacional</td>
                <td>Gabinetes</td>
                <td>2041.34</td>
                <td>MX</td>
                <td><span class="badge bg-primary">2</span></td>
              </tr>
              <tr>
                <td>
                  <a href="#"><i class="bx bx-pencil"></i></a>
                </td>
                <td>G-50-04151312</td>
                <td>GE</td>
                <td>G500</td>
                <td>SCADA G500</td>
                <td>12</td>
                <td>18</td>
                <td>EXW</td>
                <td>Suministro Nacional</td>
                <td>Equipos principales</td>
                <td>536.25</td>
                <td>USD</td>
                <td><span class="badge bg-primary">3</span></td>
              </tr>
            </tbody>
          </table>
        </div>
        <div class="col-md-12">
          <div class="pagination">
            <a href="#"><i class="bx bx-chevron-left"></i></a>
            <a href="#">1</a>
            <a class="active" href="#">2</a>
            <a href="#">3</a>
            <a href="#">4</a>
            <a href="#">5</a>
            <a href="#"><i class="bx bx-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- fin tabla -->
<script>
  $(document).ready(function () {
    $(function () {
      $(".selectpicker").selectpicker();
    });
  });
</script>
