<div class="col-md-6 col-lg-12 mt-4">
  <div class="row">
    <div class="col-md-12 col-lg-8">
      <a href="#" class="expandir" onclick="openFullscreen();" id="expande">
        <i class="bx bx-expand expandir"> Expandir Todo</i>
      </a>
      <a
        href="#"
        class="expandir"
        onclick="closeFullscreen();"
        id="contrae"
        hidden
      >
        <i class="bx bx-collapse expandir"> Contraer Todo</i>
      </a>
    </div>
    <div class="col-md-11 col-lg-3">
      <form>
        <div class="input-wrapper">
          <input
            type="search"
            class="input form-control search"
            placeholder="Buscar"
          />
          <i class="bx bx-search input-icon"></i>
        </div>
      </form>
    </div>
    <div class="col-1">
      <button type="button" class="btn-agregar-ppi">Imprimir</button>
    </div>
  </div>
</div>
<!-- lista -->
<div class="col-12 mt-3">
  <div id="accordion">
    <div class="card col-12 mt-3">
      <div class="row">
        <div class="card-header div-success col-11" id="costoheadingOne">
          <div
            class="col-12"
            data-toggle="collapse"
            data-target="#costocollapseOne"
            aria-expanded="true"
            aria-controls="costocollapseOne"
          >
            <div class="row">
              <div class="col-1 mt-2 p-0">
                <center><i class="bx bx-detail"></i></center>
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <strong class="title-costo"
                        >Gestión de calidad .&nbsp;</strong
                      >
                      <small>Disponible</small>&nbsp;<span
                        class="badge bg-danger chip"
                        >-$31,120.00</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-10 mt-1">
                    <div class="row">
                      <i class="bx bx-money i-acordion"
                        >&nbsp;
                        <span class="span-costo">
                          Presupuesto: <strong>$150,000.00</strong>&nbsp;</span
                        ></i
                      ><i class="bx bx-file i-acordion"
                        ><span class="span-costo"
                          >&nbsp;Ejercido:
                          <strong>$181,220.00&nbsp;</strong></span
                        ></i
                      ><i class="bx bx-time i-acordion icon-green"
                        >&nbsp;<span class="span-costo">Entregado</span></i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 mt-3" align="right">
          <a type="button" data-toggle="modal" data-target="#costoModal">
            <i class="bx bx-plus-circle"></i>
          </a>
        </div>
      </div>

      <div
        id="costocollapseOne"
        class="collapse show"
        aria-labelledby="costoheadingOne"
        data-parent="#accordion"
      >
        <div class="accordion-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Clasificación</th>
                <th>Descripción</th>
                <th>Importe</th>
                <th>Acumulado</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mar 02, 2019</td>
                <td>
                  <span class="clasificacion" style="background-color: magenta"
                    >Finanzas&nbsp;<i class="bx bx-bar-chart-alt-2"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 17,900.00</td>
                <td>$ 17,900.00</td>
                <td>
                  <span class="badge tag-success">$ 132,100.00</span>
                </td>
              </tr>
              <tr>
                <td>Jul 11, 2015</td>
                <td>
                  <span
                    class="clasificacion"
                    style="background-color: rgb(163, 163, 245)"
                    >Servicios&nbsp;<i class="bx bx-wrench"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 8,720.00</td>
                <td>$ 26,720.00</td>
                <td>
                  <span class="badge tag-warning">$ 123,380.00</span>
                </td>
              </tr>
              <tr>
                <td>Sep 19, 2010</td>
                <td>
                  <span
                    class="clasificacion"
                    style="background-color: rgb(145, 241, 225)"
                    >Equipos&nbsp;&nbsp;<i class="bx bxs-chip"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 154,500.00</td>
                <td>$ 181,220.00</td>
                <td><span class="badge tag-danger">-$ 31,120.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card col-12 mt-3">
      <div class="row">
        <div class="card-header div-warning col-11" id="costoheadingTwo">
          <div
            class="col-12 collapsed"
            data-toggle="collapse"
            data-target="#costocollapseTwo"
            aria-expanded="false"
            aria-controls="costocollapseTwo"
          >
            <div class="row">
              <div class="col-1 mt-2 p-0">
                <center><i class="bx bx-detail"></i></center>
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <strong class="title-costo">Taritaxi .&nbsp;</strong>
                      <small>Disponible</small>&nbsp;<span
                        class="badge bg-success chip"
                        >$135,000.00</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-10 mt-1">
                    <div class="row">
                      <i class="bx bx-money i-acordion"
                        >&nbsp;<span class="span-costo"
                          >Presupuesto: <strong>$150,000.00&nbsp;</strong></span
                        ></i
                      >
                      <i class="bx bx-file i-acordion"
                        ><span class="span-costo"
                          >&nbsp;Ejercido:
                          <strong>$15,000.00&nbsp;</strong></span
                        ></i
                      >
                      <i class="bx bx-time i-acordion icon-warning"
                        >&nbsp;<span class="span-costo">En Proceso</span></i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 mt-3" align="right">
          <a type="button" data-toggle="modal" data-target="#costoModal">
            <i class="bx bx-plus-circle"></i>
          </a>
        </div>
      </div>

      <div
        id="costocollapseTwo"
        class="collapse"
        aria-labelledby="costoheadingTwo"
        data-parent="#accordion"
      >
        <div class="accordion-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Clasificación</th>
                <th>Descripción</th>
                <th>Importe</th>
                <th>Acumulado</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mar 02, 2019</td>
                <td>
                  <span class="clasificacion" style="background-color: magenta"
                    >Finanzas&nbsp;<i class="bx bx-bar-chart-alt-2"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 17,900.00</td>
                <td>$ 17,900.00</td>
                <td><span class="badge bg-success chip">$ 132,100.00</span></td>
              </tr>
              <tr>
                <td>Jul 11, 2015</td>
                <td>
                  <span
                    class="clasificacion"
                    style="background-color: rgb(163, 163, 245)"
                    >Servicios&nbsp;<i class="bx bx-wrench mt-1"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 8,720.00</td>
                <td>$ 26,720.00</td>
                <td><span class="badge bg-warning chip">$ 123,380.00</span></td>
              </tr>
              <tr>
                <td>Sep 19, 2010</td>
                <td>
                  <span
                    class="clasificacion"
                    style="background-color: rgb(145, 241, 225)"
                    >Equipos&nbsp;&nbsp;<i class="bx bxs-chip"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 154,500.00</td>
                <td>$ 181,220.00</td>
                <td><span class="badge bg-danger chip">-$ 31,120.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>

    <div class="card col-12 mt-3">
      <div class="row">
        <div class="card-header div-danger col-11" id="costoheadingThree">
          <div
            class="col-12 collapsed"
            data-toggle="collapse"
            data-target="#costocollapseThree"
            aria-expanded="false"
            aria-controls="costocollapseThree"
          >
            <div class="row">
              <div class="col-1 mt-2">
                <center><i class="bx bx-detail"></i></center>
              </div>
              <div class="col-10">
                <div class="row">
                  <div class="col-12">
                    <div class="row">
                      <strong class="title-costo">CFE CET1 .&nbsp;</strong>
                      <small>Disponible</small>&nbsp;<span
                        class="badge bg-warning chip"
                        >$5,000.00</span
                      >
                    </div>
                  </div>
                  <div class="col-md-12 col-lg-10 mt-1">
                    <div class="row">
                      <i class="bx bx-money i-acordion"
                        >&nbsp;<span class="span-costo"
                          >Presupuesto: <strong>$150,000.00&nbsp;</strong></span
                        ></i
                      >
                      <i class="bx bx-file i-acordion"
                        >&nbsp;<span class="span-costo"
                          >Ejercido: <strong>$145,000.00&nbsp;</strong></span
                        ></i
                      >
                      <i class="bx bx-error i-acordion icon-red"
                        >&nbsp;<span class="span-costo">Estancado</span></i
                      >
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-1 mt-3" align="right">
          <a type="button" data-toggle="modal" data-target="#costoModal">
            <i class="bx bx-plus-circle"></i>
          </a>
        </div>
      </div>

      <div
        id="costocollapseThree"
        class="collapse"
        aria-labelledby="costoheadingThree"
        data-parent="#accordion"
      >
        <div class="accordion-body table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Fecha</th>
                <th>Clasificación</th>
                <th>Descripción</th>
                <th>Importe</th>
                <th>Acumulado</th>
                <th>Saldo</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Mar 02, 2019</td>
                <td>
                  <span class="clasificacion" style="background-color: magenta"
                    >Finanzas&nbsp;<i class="bx bx-bar-chart-alt-2"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 17,900.00</td>
                <td>$ 17,900.00</td>
                <td><span class="badge bg-success chip">$ 132,100.00</span></td>
              </tr>
              <tr>
                <td>Jul 11, 2015</td>
                <td>
                  <span
                    class="clasificacion"
                    style="background-color: rgb(163, 163, 245)"
                    >Servicios&nbsp;<i class="bx bx-wrench mt-1"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 8,720.00</td>
                <td>$ 26,720.00</td>
                <td><span class="badge bg-warning chip">$ 123,380.00</span></td>
              </tr>
              <tr>
                <td>Sep 19, 2010</td>
                <td>
                  <span
                    class="clasificacion"
                    style="background-color: rgb(145, 241, 225)"
                    >Equipos&nbsp;&nbsp;<i class="bx bxs-chip"></i
                  ></span>
                </td>
                <td>Pago de nómina</td>
                <td>$ 154,500.00</td>
                <td>$ 181,220.00</td>
                <td><span class="badge bg-danger chip">-$ 31,120.00</span></td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
<script>
  var elem = document.documentElement;
  function openFullscreen() {
    $("#expande").attr("hidden", true);
    $("#contrae").attr("hidden", false);
    if (elem.requestFullscreen) {
      elem.requestFullscreen();
    } else if (elem.webkitRequestFullscreen) {
      /* Safari */
      elem.webkitRequestFullscreen();
    } else if (elem.msRequestFullscreen) {
      /* IE11 */
      elem.msRequestFullscreen();
    }
  }

  function closeFullscreen() {
    $("#expande").attr("hidden", false);
    $("#contrae").attr("hidden", true);
    if (document.exitFullscreen) {
      document.exitFullscreen();
    } else if (document.webkitExitFullscreen) {
      /* Safari */
      document.webkitExitFullscreen();
    } else if (document.msExitFullscreen) {
      /* IE11 */
      document.msExitFullscreen();
    }
  }
</script>
