<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <title>Sistema de Calidad</title>

    <!-- Fonts -->
    <link href="../../public/css/css2.css" rel="stylesheet" />

    <!-- Styles -->
    <!-- <link rel="stylesheet" href="../../public/css/bootstrap.css" /> -->
    <link rel="stylesheet" href="../../public/css/font-awesome.css" />

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="../../public/css/bootstrap-select.min.css" />
    <link rel="stylesheet" href="../../public/css/bootstrap-datepicker.css" />
    <link
      rel="stylesheet"
      href="../../public/css/twitter-bootstrap/bootstrap-responsive.css"
    />
    <link
      rel="stylesheet"
      href="../../public/css/twitter-bootstrap/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="../../public/css/dataTables.bootstrap5.min.css"
    />

    <link rel="stylesheet" href="../../public/css/fileinput.min.css" />
    <link rel="stylesheet" type="text/css" href="../../public/css/style.css" />
  </head>
  <body class="body-evento">
    <div class="container-fluid">
      <!-- Navbar -->
      <nav class="navbar navbar-expand-sm bg-white navbar-white">
        <div class="container-fluid">
          <!-- Toggler -->
          <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#collapsibleNavbar"
          >
            <span class="navbar-toggler-icon"></span>
          </button>
          <a class="navbar-brand" href="#"
            ><img src="../../public/image/logoOp.jpeg" alt=""
          /></a>

          <div class="collapse navbar-collapse" id="collapsibleNavbar">
            <ul class="navbar-nav ms-auto d-flex flex-row">
              <li
                class="nav-item dropdown text-wrap"
                style="border-right: 1px solid #9b9a9a"
              >
                <a
                  class="nav-link dropdown-toggle"
                  href="#"
                  role="button"
                  data-bs-toggle="dropdown"
                  ><small>Usuario</small> <br />
                  <small>ACEMEP S.A DE C.V</small></a
                >
                <ul class="dropdown-menu">
                  <li><a class="dropdown-item" href="#">My profile</a></li>
                  <li><a class="dropdown-item" href="#">Settings</a></li>
                  <li><a class="dropdown-item" href="#">Logout</a></li>
                </ul>
              </li>
              <li class="nav-item dropdown mr-2 mt-2">
                <a
                  class="nav-link"
                  href="#"
                  role="button"
                  data-mdb-toggle="dropdown"
                  aria-expanded="false"
                >
                  <i class="fa fa-bell" style="font-size: 17px"></i>
                </a>
              </li>
            </ul>
          </div>
        </div>
      </nav>
      <!-- Navbar -->
      <!-- Migas de pan -->
      <div class="col-12 p-2 mt-3 migas">
        <div class="row">
          <div class="col-md-12 col-lg-6">
            <a href="/" style="text-decoration: none"
              ><i class="fa fa-arrow-left"></i>&nbsp; Regresar</a
            >
          </div>
          <div class="col-md-12 col-lg-6">
            <nav aria-label="breadcrumb">
              <ol class="breadcrumb">
                <li><p>Usted esta aquí:&nbsp;</p></li>
                <li class="breadcrumb-item">Sistema de gestion</li>
                <li class="breadcrumb-item">Agregar Evento</li>
              </ol>
            </nav>
          </div>
        </div>
      </div>
    </div>
    <!-- migas de pan -->
    <div data-include="../../ppis/field"></div>
  </body>
  <script src="../../public/js/jquery-3.6.3.js"></script>
  <!-- <script src="public/js/bootstrap.min.js"></script> -->
  <script src="../../public/js/bootstrap.bundle.min.js"></script>
  <!-- Latest compiled and minified JavaScript -->
  <script src="../../public/js/bootstrap-select.min.js"></script>

  <script src="../../public/js/bootstrap-datepicker.js"></script>

  <script src="../../public/js/jquery.dataTables.min.js"></script>
  <script src="../../public/js/dataTables.bootstrap5.min.js"></script>
  <script src="../../public/js/fileinput.min.js"></script>
  <script>
    $(function () {
      var includes = $("[data-include]");
      $.each(includes, function () {
        var file = "view/" + $(this).data("include") + ".html";
        $(this).load(file);
      });
    });
  </script>
  <!-- modales -->
  <div data-include="../../modales/asistente"></div>
  <div data-include="../../modales/noConformidad"></div>
  <div data-include="../../modales/documento-ppi"></div>
  <div data-include="../../modales/resultado"></div>
  <div data-include="../../modales/eliminar"></div>
  <div data-include="../../modales/seguimiento"></div>
  <!-- fin modales -->
</html>
