<!-- ENCABEZADO -->
<div class="col-12 mt-4 justify-content-between">
  <div class="row">
    <div class="col-md-3 col-lg-2">
      <select
        class="form-control selectpicker"
        data-live-search="true"
        title="Filtrar por periodo"
      >
        <option value="1">October 31 - November 30</option>
        <option value="2">November 31 - December 30</option>
        <option value="3">January 31 - February 28</option>
      </select>
    </div>
    <div class="col-md-3 col-lg-2">
      <select
        class="form-control selectpicker"
        data-live-search="true"
        title="Filtrar por Owner"
      >
        <option value="1">Floyd Miles</option>
        <option value="2">Floyd Miles</option>
        <option value="3">Floyd Miles</option>
      </select>
    </div>
    <div class="col-md-6 col-lg-4 mt-2" align="right">
      <strong
        ><i class="bx bx-calendar-check"
          ><span class="span-costo" style="font-size: 12px">Mis tareas</span></i
        ></strong
      >
      <span
        ><i class="bx bx-time"
          ><span class="span-costo" style="font-size: 12px">Pendientes</span></i
        ></span
      >
    </div>
    <div class="col-md-6 col-lg-3 mt-1">
      <form>
        <div class="input-wrapper">
          <input
            type="search"
            class="input form-control search"
            placeholder="Buscar"
          />
          <i class="bx bx-search input-icon"></i>
        </div>
      </form>
    </div>
    <div class="col-md-6 col-lg-1">
      <button
        class="btn btn-agregar mt-1"
        data-toggle="modal"
        data-target="#tareaModal"
      >
        Agregar
      </button>
    </div>
  </div>
</div>
<!-- TAREAS -->
<div class="col-12 mt-3">
  <div id="accordion">
    <div class="card">
      <div class="card-header task-card" id="headingOne">
        <h5 class="mb-0 d-inline">
          <button
            class="task-header"
            data-toggle="collapse"
            data-target="#collapseOne"
            aria-expanded="true"
            aria-controls="collapseOne"
          >
            <i class="bx bx-chevron-down"></i
            ><span class="task-title"
              >Tareas del proyecto:&nbsp;<strong>Taritaxi</strong></span
            >
          </button>
        </h5>
      </div>
      <div
        id="collapseOne"
        class="collapse show"
        aria-labelledby="headingOne"
        data-parent="#accordion"
      >
        <div class="table-responsive">
          <table width="100%">
            <thead>
              <tr>
                <th width="58%">Tarea</th>
                <th width="2%"></th>
                <th width="10%">Estatus</th>
                <th width="15%">Periodo</th>
                <th width="15%">Owner</th>
              </tr>
            </thead>
            <tbody>
              <tr class="cell-1" data-toggle="collapse" data-target="#demo">
                <td>
                  <div class="myTest custom-control custom-checkbox mt-2">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck1"
                      checked
                    />
                    <label class="custom-control-label mt-1" for="customCheck1"
                      >Verificar proceso de pago Taritaxi</label
                    >
                  </div>
                </td>
                <td>
                  <a
                    href="#"
                    class="btn text-end"
                    data-toggle="modal"
                    data-target="#tareaModal"
                  >
                    <i class="bx bx-plus-circle iconos"></i>
                  </a>
                </td>
                <td>
                  <span class="badge tag-success"
                    >Entregado&nbsp;<i class="bx bx-check-circle icon-white"></i
                  ></span>
                </td>
                <td>October 31 - November 31</td>
                <td>
                  <img
                    src="public/image/user.png"
                    class="rounded-circle img-tarea"
                    alt="..."
                  />&nbsp;Floyd Miles
                </td>
              </tr>
              <div id="demo" class="collapse cell-1 row-child">
                <tr class="tarea-1">
                  <td>
                    <div class="myTest custom-control custom-checkbox ml-3">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck3"
                      />
                      <label
                        class="custom-control-label mt-1"
                        for="customCheck1"
                        >Creación de tarjetas</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="#"
                      class="btn text-end"
                      data-toggle="modal"
                      data-target="#tareaModal"
                    >
                      <i class="bx bx-plus-circle iconos"></i>
                    </a>
                  </td>
                  <td>
                    <span class="badge tag-warning"
                      >En proceso&nbsp;<i class="bx bx-time icon-white"></i
                    ></span>
                  </td>
                  <td>October 31 - November 31</td>
                  <td>
                    <img
                      src="public/image/user.png"
                      class="rounded-circle img-tarea"
                      alt="..."
                    />&nbsp;Floyd Miles
                  </td>
                </tr>
                <tr
                  class="tarea-1 cell-1"
                  data-toggle="collapse"
                  data-target="#sub-tarea"
                >
                  <td>
                    <div class="myTest custom-control custom-checkbox ml-3">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck3"
                        checked
                      />
                      <label
                        class="custom-control-label mt-1"
                        for="customCheck1"
                        >Convenio de plataforma de pago</label
                      >
                    </div>
                  </td>
                  <td>
                    <a
                      href="#"
                      class="btn text-end"
                      data-toggle="modal"
                      data-target="#tareaModal"
                    >
                      <i class="bx bx-plus-circle iconos"></i>
                    </a>
                  </td>
                  <td>
                    <span class="badge tag-success"
                      >Entregado&nbsp;<i
                        class="bx bx-check-circle icon-white"
                      ></i
                    ></span>
                  </td>
                  <td>October 31 - November 31</td>
                  <td>
                    <img
                      src="public/image/user.png"
                      class="rounded-circle img-tarea"
                      alt="..."
                    />&nbsp;Floyd Miles
                  </td>
                </tr>
              </div>
              <div id="sub-tarea" class="collapse cell-1 row-child">
                <tr class="tarea-2">
                  <td>
                    <div class="myTest custom-control custom-checkbox ml-5">
                      <input
                        type="checkbox"
                        class="custom-control-input"
                        id="customCheck3"
                      />
                      <label
                        class="custom-control-label mt-1"
                        for="customCheck1"
                        >Verificación de convenio</label
                      >
                    </div>
                  </td>
                  <td></td>
                  <td>
                    <span class="badge tag-warning"
                      >En proceso&nbsp;<i class="bx bx-time icon-white"></i
                    ></span>
                  </td>
                  <td>October 31 - November 31</td>
                  <td>
                    <img
                      src="public/image/user.png"
                      class="rounded-circle img-tarea"
                      alt="..."
                    />&nbsp;Floyd Miles
                  </td>
                </tr>
              </div>

              <tr class="cell-1" data-toggle="collapse" data-target="#demo-2">
                <td>
                  <div class="myTest custom-control custom-checkbox">
                    <input
                      type="checkbox"
                      class="custom-control-input"
                      id="customCheck2"
                    />
                    <label class="custom-control-label mt-1" for="customCheck1"
                      >Verificar proceso de pago Taritaxi</label
                    >
                  </div>
                </td>
                <td>
                  <a
                    href="#"
                    class="btn text-end"
                    data-toggle="modal"
                    data-target="#tareaModal"
                  >
                    <i class="bx bx-plus-circle iconos"></i>
                  </a>
                </td>
                <td>
                  <span class="badge tag-danger"
                    >Estancado&nbsp;<i class="bx bx-error icon-white"></i
                  ></span>
                </td>
                <td>October 31 - November 31</td>
                <td>
                  <img
                    src="public/image/user.png"
                    class="rounded-circle img-tarea"
                    alt="..."
                  />&nbsp;Floyd Miles
                </td>
              </tr>
              <tr id="demo-2" class="collapse cell-1 row-child">
                <td class="text-center">
                  <i class="bx bx-angle-up"></i>
                </td>
                <td></td>
                <td>Product&nbsp;</td>
                <td>iphone SX with ratina display</td>
                <td>QTY</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header task-card" id="headingTwo">
        <h5 class="mb-0">
          <button
            class="task-header collapsed"
            data-toggle="collapse"
            data-target="#collapseTwo"
            aria-expanded="false"
            aria-controls="collapseTwo"
          >
            <i class="bx bx-chevron-down"></i
            ><span class="task-title">
              Tareas del proyecto:&nbsp;<strong>Plan de trabajo</strong></span
            >
          </button>
        </h5>
      </div>
      <div
        id="collapseTwo"
        class="collapse"
        aria-labelledby="headingTwo"
        data-parent="#accordion"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
    <div class="card">
      <div class="card-header task-card" id="headingThree">
        <h5 class="mb-0">
          <button
            class="task-header collapsed"
            data-toggle="collapse"
            data-target="#collapseThree"
            aria-expanded="false"
            aria-controls="collapseThree"
          >
            <i class="bx bx-chevron-down"></i
            ><span class="task-title">
              Tareas del proyecto:&nbsp;<strong>SGC</strong></span
            >
          </button>
        </h5>
      </div>
      <div
        id="collapseThree"
        class="collapse"
        aria-labelledby="headingThree"
        data-parent="#accordion"
      >
        <div class="card-body">
          Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus
          terry richardson ad squid. 3 wolf moon officia aute, non cupidatat
          skateboard dolor brunch. Food truck quinoa nesciunt laborum eiusmod.
          Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid
          single-origin coffee nulla assumenda shoreditch et. Nihil anim
          keffiyeh helvetica, craft beer labore wes anderson cred nesciunt
          sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
          occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt
          you probably haven't heard of them accusamus labore sustainable VHS.
        </div>
      </div>
    </div>
  </div>
</div>
