<div class="col-12 mt-3">
  <div class="justify-content-between">
    <div class="card p-2">
      <div class="row">
        <div class="col-md-12 col-lg-8">
          <div class="row">
            <div class="d-flex ml-3">
              <img src="public/image/logo.jpeg" width="12%" class="rounded" />
              <div class="col">
                <div class="align-items-start">
                  <span class="set"><strong>SET 01</strong></span
                  >&nbsp;&nbsp;
                  <span>Estado: </span>
                  <span class="badge bg-success"> Activo</span>
                </div>
                <div class="align-self-end mt-1">
                  <i class="bx bx-receipt"></i>
                  <span>PECOMM4244323445</span>
                  <i class="bx bx-building-house"></i>
                  <span>Cliente: </span>
                  <span class="badge bg-info"> Cobra</span>
                  <i class="bx bx-calendar"></i>
                  <span>01 Sep, 2022-</span
                  ><span><strong>28 Abr, 2023</strong></span>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-12 col-lg-4">
          <div class="row">
            <div class="col">
              <div class="align-items-start align mb-2 mr-3">
                <img
                  src="public/image/user.png"
                  class="rounded-circle user-info"
                  alt="..."
                  width="13%"
                />
                <img
                  src="public/image/user.png"
                  class="rounded-circle user-info"
                  alt="..."
                  width="13%"
                />
                <img
                  src="public/image/user.png"
                  class="rounded-circle user-info"
                  alt="..."
                  width="13%"
                />
                <img
                  src="public/image/user.png"
                  class="rounded-circle user-info"
                  alt="..."
                  width="13%"
                />
              </div>
              <div class="align-self-end">
                <div
                  class="progress"
                  role="progressbar"
                  aria-label="Example with label"
                  aria-valuenow="50"
                  aria-valuemin="0"
                  aria-valuemax="100"
                >
                  <div class="progress-bar" style="width: 50%">50%</div>
                </div>
              </div>
            </div>
            <div class="d-flex mr-3">
              <span class="btn-evento">
                <div class="row">
                  <div class="col-3 mt-2">
                    <i
                      class="bx bx-calendar-event icon-button"
                      style="color: #fff !important"
                    ></i>
                  </div>
                  <div class="col-9">
                    Días restantes <br />
                    <strong><h5>256</h5></strong>
                  </div>
                </div>
              </span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
