<div class="container-fluid justify-content-between migas">
  <div class="col-12">
    <div class="row mt-5">
      <div class="col-md-12 col-lg-6 mt-3">
        <a href="#" style="text-decoration: none"
          ><i class="bx bx-arrow-back"></i>
          <span class="regresar">&nbsp;&nbsp;Regresar</span></a
        >
      </div>
      <div class="col-md-12 col-lg-6">
        <nav aria-label="breadcrumb">
          <ol class="breadcrumb">
            <li class=""><a href="#">Usted esta aquí:&nbsp;</a></li>
            <li class="breadcrumb-item"><a href="#">Sistema de gestión</a></li>
            <li class="breadcrumb-item active" aria-current="page">
              Proyectos
            </li>
          </ol>
        </nav>
      </div>
    </div>
  </div>
</div>
